[2016-09-12 21:13] mrkz opened #7 "Support feeding mixer using chroot-defined-bundle directory"
This way a mixer user could define what gets added/removed/modified from a bundle by changing directly the chroot directory for the given bundle to mix.

A simple use case for this would be as follows:
- User wants to add X binary into `new-bundle` bundle.

The flow for this today implies packaging the binary into an RPM format and create a repo so mixer can consume it and modify the bundle defini

[2016-10-14 19:08] phmccarty opened #12 "mixer-pack-maker: add option for building packs for N versions back"
Support building of packs for N versions back from the `--to` version, as an alternative to passing one or more `--from` options. Proposed option name: `--back`.

[2016-10-14 19:12] phmccarty commented on #12
Note that the semantics would be different than the old pack maker, which built N versions back *per bundle*. The new behavior would strictly build N versions back, based on the linear sequence of VER/Manifest.MoM files generated, going back in time.

[2017-08-28 19:18] tmarcu commented on #7
This is already possible with mixer as the update creator has no idea or care about *how* the chroots were created. Certain files are inserted in the chroot(s) that are not part of any RPM package, i.e, the root update certificate, during update creation. However in the general case, because mixer is intended to be used to add and generate update content in a distro friendly way, we have the bundl

[2017-08-28 19:18] #7 closed

[2017-08-28 19:19] tmarcu commented on #12
@phmccarty is this something that could be tackled with the pack-maker rewrite as well?

[2017-08-28 19:21] phmccarty commented on #7
Perhaps we should document how to create chroots manually when using mixer?

[2017-08-28 19:22] phmccarty commented on #12
Yes

[2017-11-03 21:52] phmccarty opened #26 "build-image: support configurable state directory for ister"
Ister supports the `-S` option to customize the swupd-client state directory location instead of using /var/lib/swupd. It would be nice if `mixer build-image` also supported a configurable client state directory, via command line option, builder.conf option, or both.

[2017-11-15 02:22] tmarcu commented on #26
Agreed, the plan is to make it configurable, and to use a temp directory by default instead of /var/lib/swupd. It really should have its own clean statedir to avoid any corruption.

[2017-11-17 16:13] rchiossi opened #27 "New Feature: 'mixer init'"
Note: This issue is a feature proposal and should be labeled as 'Enhancement'.

Right now, the process of creating a new mix requires the user to go through a couple manual steps that can easily be automated and packed into a mixer command. The idea behind having this "mixer init" command is to mimic the functionality of a "git init" command and have the active folder set up for a mix to be perfor

[2017-11-20 20:02] tmarcu commented on #27
This would be a great improvement. I agree the ister config file probably should be fetched later on, i.e as part of image building perhaps if it doesn't exist, maybe even from a template file like the builder.conf currently is.
I can imagine this replacing (or expanding) the current mixer init-mix command, and letting version setting either be an option to this, or just letting the version settin

[2017-11-21 20:53] mdhorn opened #28 "Allow use of Environment Variable in Configuration File"
It would be very advantageous to allow the use of environment variables, such a `$HOME`, in the builder configuration file.  When used in an automated build environment like Jenkins or Travis, it would be helpful to use environment variables for the various paths.

NOTE: This will require a compatible change to the `bundle-chroot-builder` tool as it also reads the same configuration file.

See htt

[2017-11-22 00:34] mdhorn opened #30 "Store the ClearLinux distribution and version used for Mix"
Have Mixer save the upstream URL and version used when generating the new Mix.

This information is both useful historical information about the Mix as well as needed by any automation used to generate new mixes.

The primary use would be to identify the upstream's original Swupd Format when generating a new Mix. The Format of the upstream, and how many times it has bumped, are needed in order to

[2017-11-22 00:40] kevincwells opened #32 "New Feature: mixer add-bundles"
Introduce new "mixer add-bundles" command to automate the addition of bundles to the mix-bundles/ directory.

Currently adding bundles to your mix means copying them manually from the pulled clear-bundles/clear-bundles-&lt;VER&gt;/bundles/ dir to your mix-bundles/ dir. This is a manual process, and thus following bundle dependencies (i.e., “include (other-bundle)”) is a manual process.

- Tool sho

[2017-11-22 16:31] rchiossi commented on #32
In addition to that, it may be nice to also have a "list-bundles" command, that fetches and displays the available bundles for the clear version you are using.

[2017-11-22 16:41] kevincwells commented on #32
@rchiossi -- I could see that potentially being useful, but I would see that as a separate command altogether.

The "add-bundles" command moves further in the direction of abstracting away the offline bundle cache (i.e., the user doesn't need to know where it lives or that it even exists in order to add bundles), and so I can see your proposal as a useful addition to that direction. Of course, the

[2017-11-30 03:04] kevincwells opened #34 "New Feature: mixer update-bundles"
# New Feature
Add new command to support updating bundle definitions to a new version of CLR.

# Use case
You have already initialized a mix (`mixer init-mix -clearver n -mixver m`) based on some CLR version. You have already pulled bundle definition files into your mix-bundles/ directory (`mixer add-bundles -bundles somebundle`). You have optionally modified any of the bundle definitions, or crea

[2017-12-02 00:55] kevincwells commented on #32
@mdhorn pointed out that if this is intended to be "the" way you add bundles from CLR to your mix, it really should support an --all flag, so I just submitted a PR (https://github.com/clearlinux/mixer-tools/pull/36) to implement this.

[2017-12-04 22:41] kevincwells commented on #34
If I understand correctly, this functionality would be needed to successfully automate format bumps, too.

Hypothetical example numbers:

CLR Format | CLR Version | Mix Version
--------- | ----------- |  ----------
10 | 100 | 10
10 | 110 | 10
11 | 120 | 10
11 | 130 | 10
11 | 140 | 10
12 | 150 | 10
12 | 160 | 10
12 | 170 | 20

Mix was originally based on upstream CLR version 100. Now you want to do

[2017-12-07 00:58] cmarcelo commented on #34
+1 for the proposal, I think you should move forward trying to implement this.
@tmarcu do you have any specific feedback?

@kevincwells, a few comments:
- After that update step happen, automatically dump the diff of what changes were made.
- How do I recursively pull the bundles for the first use? I'm thinking about the sequence: init-mix, add my new bundle with includes(desktop), but I don't hav

[2017-12-07 01:07] cmarcelo commented on #34
Correct.

Well, that depends. If your intention is to follow a bundle from upstream, then yes. This is one place where the slightly different approach I mentioned in other comment shines, you don't need to stop the mixing at some point just because the user needs to update the bundles ;-)

I think so.

Correct. One approach would be to teach update-bundles how to stop at the right boundary (and ex

[2017-12-07 01:09] kevincwells commented on #34
@cmarcelo re your comments:
- Do you mean you'd like the changes being made to the bundles to be output to the user? I could see this being output at a debug log level, but I wouldn't want to flood the user with diffs in general.
- `mixer add-bundles` recursively pulls the includes of the bundles you bring over from the CLR bundles. You're asking, if you create _your own new_ bundle, how do you re

[2017-12-07 01:14] cmarcelo commented on #34
Imagine we teach mixer about a file called UPSTREAM_BUNDLES, that contains a list of bundles from upstream that we want to use "as is" (note: we do modify manually os-core / os-core-update, but the packages included are the same).

When doing init-mix, we create this file with os-core, os-update (whatever defaults we have). When building (chroots/updates), mixer will consider all the bundles we de

[2017-12-07 01:16] cmarcelo commented on #34
It was more a suggestion to look at those "related" usages and see if the solution still looks good.

[2017-12-07 01:22] kevincwells commented on #34
@cmarcelo -- ooooh. Yes, @rchiossi and I have discussed the possibility of what we were calling "remote bundles" that would work exactly like that -- the ability to list some bundles as pulled directly from upstream, without modification. Then the only bundle definitions you actually keep locally are those that are modified or original.

I fully support this direction, and it is part of the future

[2017-12-08 23:57] #28 closed

[2017-12-13 18:26] cmarcelo opened #40 "proposal: follow Go conventions for mixer-tools repository"
At the moment the mixer-tools repository is organized that it assumes it will be set as the GOPATH to operate. This is not the conventional way to do things, which means that some of the tooling around Go either don't work or need special care to work.

The conventional way is to assume the sources will be inside an existing GOPATH, in the github.com/clearlinux/mixer-tools directory.

Changes need

[2017-12-13 18:27] cmarcelo commented on #40
@tmarcu ^

[2017-12-13 23:31] cmarcelo opened #41 "UPSTREAM_URL never gets when following default instructions"
Following instructions from the official guide https://clearlinux.org/documentation/clear-linux/guides/maintenance/mixer.html?highlight=mixer when building chroots there's a yum error that looks like:

   Repository 'clear': Error parsing config: Error parsing "baseurl = 'UPSTREAM_URL/releases/19420/clear/x86_64/os/'": URL must be http, ftp, file or https not ""
There are no enabled repos.

The .y

[2017-12-13 23:32] cmarcelo commented on #41
@mdhorn A quick grep on git log shows me d4975e3d947c466a365d5572f1c3c4713c5d6031 as possibly related to this issue.

[2017-12-13 23:46] cmarcelo opened #42 "proposal: implement bundle-chroot-builder functionality inside mixer"
AFAIK mixer is the only user of the Python script. Both mixer and and bundle-chroot-builder read the same configuration file, which the template value provided to users come from bundle-chroot-builder but might include some mixer specific values.

The expected result is: avoid duplication of configuration reading code, making easy to maintain the default configuration for mixer, making easy to deb

[2017-12-14 00:00] matthewrsj commented on #42
good idea, +1 from me

[2017-12-14 00:01] matthewrsj commented on #40
good idea, +1 from me

[2017-12-14 00:20] kevincwells commented on #40
Agreed. +1

[2017-12-14 22:28] cmarcelo opened #44 "mixer build-image should return nonzero exit code when it fails"

[2017-12-14 23:05] cmarcelo commented on #30
Have #31 fixed this issue?

[2017-12-14 23:51] #32 closed

[2017-12-15 10:02] pohly opened #45 "result of signing not checked"
The result (if there is any) of b.SignManifestMOM() in BuildUpdate() is not checked, so failures during signing do not cause the build to abort.

For example, when the .pem file is missing or incorrectly configured:
[code]

[2017-12-19 19:19] cmarcelo commented on #30
@mdhorn has #31 fixed this issue?

[2017-12-19 19:44] cmarcelo commented on #40
The commit in master https://github.com/clearlinux/mixer-tools/commit/9607078d6d03d42fcb1f008dd011988bf6b52312 implemented part of this.

But I think there might still things to do for ensuring packaging is working correctly with the released tarball: https://github.com/clearlinux/mixer-tools/commit/9607078d6d03d42fcb1f008dd011988bf6b52312#r26373933

[2017-12-19 22:55] tmarcu commented on #44
Fixing as part of the CLI refactor.

[2017-12-19 23:06] tmarcu commented on #40
That commit definitely does not address everything in here, but it gets the ball rolling on these changes. I agree with the suggestions you make here.

[2017-12-21 20:17] #40 closed

[2017-12-21 21:08] cmarcelo commented on #41
Haven't tested but looks like was fixed in https://github.com/clearlinux/mixer-tools/commit/aab6e7cca9e5553f4b397090322a937b2e79d407

[2017-12-22 00:15] #41 closed

[2017-12-22 17:53] mdhorn commented on #30
Yes, fixed by PR #31

[2017-12-22 17:53] #30 closed

[2017-12-23 01:30] cmarcelo commented on #26
https://github.com/clearlinux/mixer-tools/pull/47 made it use a temporary directory.

[2017-12-23 01:34] kevincwells opened #53 "Feature: Bundle lint tool"
# New Feature
Add a new command ("mixer bundle check") to lint and validate a bundle definition file.

# Use Case
If a developer wants to write their own bundle file, or alter an existing one, it would be useful to be able to verify that it is correct.

# Functionality
- The tool will at minimum "lint" the bundle file, ensuring that it is correctly formatted.
- The tool could validate that fields

[2017-12-23 01:47] kevincwells opened #54 "Config parsing"
# Proposal
Rewrite the mixer code that parses `builder.conf` using the [Viper library](https://github.com/spf13/viper).

# Benefits
- Remove fragile regex-based parsing
- Correctly support config "Section" to value affiliation (right now sections are ignored)
- Allow easy generation of default `builder.conf`
- Integrate with Cobra to fluidly support CLI flag overrides of config values (optional).

[2017-12-23 02:03] kevincwells opened #55 "Proposal: Local & Upstream Bundles + Mix Bundle List"
# Note
This is a condensed form of a more detailed proposal on this topic. Please contact @kevincwells for information.

# Current State/Motivation
Currently, the way you add bundles to your mix is to copy the bundle definition file from a given version of CLR into the `mix-bundles` directory. That means the _existence_ of bundle definition files in your mix-bundles directory is the _specification

[2017-12-23 02:10] kevincwells opened #56 "Feature: Bundle delete command"
# New Feature
Add a command (`mixer bundle delete`) that removes bundle(s) from your mix.

# Notes
- Counterpart to `mixer bundle add`
- Removes the bundle from the Mix Bundle List (see #55)
- Optionally (`--local`) also removes the bundle definition file from the `local-bundles` directory, if it exists.

[2017-12-23 02:15] kevincwells opened #57 "Feature: Bundle List command"
# New Feature
Add a command (`mixer bundle list`) that reports what bundles are in the mix, in the `local-bundles` directory (see #55), or available from Upstream (CLR).

# Notes
- Should support reporting both what top-level bundles are in the mix (i.e., the contents of the Mix Bundles List), as well as the total list of bundles that will end up in the mix by expanding the list recursively follow

[2017-12-23 02:26] kevincwells opened #58 "Proposal: Automate Ister config file"
# Proposal
Change mixer to automate the acquisition/editing of the `ister` config file (currently `release-image-config.json`).

# Notes
- At a minimum, automate the acquisition of this file so the user doesn't have to `curl` it. Ship a local copy? Curl it ourselves in `mixer init`?
- Automate the setting of the "version" and "format" variables using the values from `builder.conf`?
  - "Version" i

[2017-12-26 20:53] cmarcelo commented on #58
No download. We can embed a default in our code for purposes of "mix init". The format of this configuration for ister should be stable by now.

I thought about this before too, but I've changed my mind and don't think we should do this.

The partitioning, mounting table are also important bits for the user to tweak, e.g. "the default 10G images are too big for me" or "I need an extra partition fo

[2017-12-26 21:18] cmarcelo commented on #56
I don't get this feature. Is it to manipulate the mix bundle list, local-bundle directory or both?

If the bundle is listed in the mix bundle list, we should not remove since we might have added it for other reasons. If the bundle is not listed there and it was just part of the mix because something else was deleted, it will go away.

[2017-12-26 22:24] cmarcelo commented on #55
Minor: would change "Change the specification of what bundles are included in a mix to be a Mix Bundles List containing only top-level bundles (i.e., not those that are included)"

to something like:

"Change how to specify what bundles are included in a mix to be a Mix Bundles List containing all the bundles that must be in the mix. Other bundles will be automatically added by Mixer to fulfill bu

[2017-12-26 22:33] cmarcelo opened #59 "Handle creating a mix that touches or skips a format bump in Clear Linux"
Mixer should be aware about the format bumps in the upstream (Clear Linux), since right now it might be producing a stream that is not usable (skipping a bump in upstream, leading to some invalid state).

"Handle" here might refer first to "be aware and fail if the input is invalid" and then to "create the intermediate mixes as needed", so might make sense implement this in steps. Just the warning

[2017-12-26 22:36] cmarcelo commented on #59
@tmarcu I know this was in your Roadmap, added to GitHub so we have a way to keep track (and comment) on this, since we are doing the format bump work from outside the mixer at the moment. Any updates on this?

[2018-01-02 18:44] tmarcu opened #63 "Mixer fails with permission denied when version path is not set"
Steps to reproduce:
- Start with empty workspace
- Set builder conf to not have `VERSIONS_PATH` or misspelled, i.e `VERSIONS_DIR`
- Run:
[code]

Works when run with sudo, but this command should not need sudo privileges.

[2018-01-02 21:24] #45 closed

[2018-01-02 21:44] mdhorn commented on #63
@tmarcu I'll look into this, but the same problem existed before my change if VERSIONS_PATH was missing or wrong, but the fail would be on .clearversion

[code]

[2018-01-02 22:10] mdhorn commented on #63
@tmarcu Of the possible entries in the builder.conf, which entries, besides VERSIONS_PATH, should be considered as required values?
If I'm going to add error checking for VERSIONS_PATH, should probably also check for other required values.

[2018-01-02 23:46] kevincwells commented on #55
@cmarcelo I like that wording. Thanks -- I'll update it.

[2018-01-02 23:54] kevincwells commented on #56
@cmarcelo Yeah, that's poorly written. I wrote this a bit hurriedly before heading out the door before holiday break, so it's not really what I meant to say. Let me rewrite it.

[2018-01-03 00:28] kevincwells commented on #58
@cmarcelo

Agreed - I don't think we should be curling it from the network. Easiest right now would be to just ship a local copy with mixer's install, and copy it in to the mix with the init (just like how `builder.conf` gets created right now). It could also be generated programmatically, especially if we did want to have ister config parsing/editing logic in mixer.

Yeah, I've changed my mind on

[2018-01-04 03:07] mdhorn opened #70 "Please major bump version for new Command Line Interface"
Please consider change the major version number for the release which implement the new CLI.
4.0.0

At a minimum, bumping the minor version should be done to make this change stand out.
3.3.0

[2018-01-04 22:53] cmarcelo opened #73 "Complain about needing sudo/root early"
Right now the user can proceed but external tools called by mixer will complain themselves.

[2018-01-05 22:51] kevincwells opened #77 "Usability: Implement basic autocomplete using Cobra"
# Proposal
Cobra has built-in functionality to generate both bash and zsh autocomplete configuration for mixer, including all commands and flags. Using this functionality will significantly improve mixer's usability.

There are a number of ways to do this, so design details will likely be filled in when the issue is taken up.

**Note** Cobra also supports advanced, contextual auto-complete for spe

[2018-01-05 22:58] kevincwells commented on #77
# Implementation Options
I looked into how some other Cobra apps do this, so I wrote this up mostly as a way to organize my thoughts and pass my learnings on to whoever picks this up (in case it's not me).

## Background
Autocompletion for commandline tools works by sourcing a configuration file that describes the autocomplete options available for a command. Bash and zsh each have their own forma

[2018-01-08 17:43] mdhorn commented on #77
🥇 Please enable this!
I agree with your proposal that the autocompletion data should be generated at build time and add as part of the installation. I'd lean towards having the separate executable for generating the autocomplete data to keep the list of root commands clean.

[2018-01-09 18:32] cmarcelo commented on #54
I would take the opportunity to:
- Remove any unused or redundant configurations if still exist
- Review the names of the configurations (get feedback from people working on the tools around)
- Review how we handle the default values: my overall impression is that the configuration feels repetitive, most of time there'll be a "main" work directory and I'm fine with all the default names for the su

[2018-01-09 18:53] cmarcelo opened #83 "proposal: add command to create delta-packs in mixer tool"
Currently the mixer tool only creates the zero packs, and a separate shell script pack-maker.sh (installed as mixer-pack-maker.sh) is used to create the packs.

In the new swupd implementation (and its test programs) we already have code to do most of what mixer-pack-maker.sh does. The interface will include the proposed "--back" flag in #12, with its new semantics of going back MoM versions.

[2018-01-10 18:31] matthewrsj commented on #83
What does the combination of `--back K` and `--to N` produce? Is it `K` back from `N` or `K` back from current and up to `N`? The first one seems more logical.

+1 for the proposal, I see this as necessary for the rewrite.

[2018-01-10 19:00] cmarcelo commented on #83
Thanks for the review. Yes, it is the first one. I see how the original description is ambiguous, I'll improve that on the command help message.

[2018-01-10 22:19] cmarcelo commented on #83
@tmarcu @kevincwells could one of you take a look at this before I proceed with it? :-)

[2018-01-10 22:39] kevincwells commented on #83
The overall idea makes sense to me -- +1 for obsoleting pack-maker.sh with mixer functionality.

As far as CLI, the meaning of `--back` -- and how it differs from `--from` -- definitely feels unclear at first. Maybe it could be named something a little more self-explanatory?

`--back K` means to build packs "for the previous K versions", and `--back K --to N` means "for the K versions leading up t

[2018-01-10 23:07] phmccarty commented on #83
I don't really like the `--back` option name anymore since it does not describe the option meaning clearly.

`--num-versions` seems okay, but if you don't mind the verbosity, `--previous-versions` or `--previous-version-count` would be more clear to me.

[2018-01-10 23:11] cmarcelo commented on #83
OK! I was just reusing the name "back" from a previous PR. I'll incorporate one of those names instead.

[2018-01-10 23:21] kevincwells commented on #83
+1 I think `--previous-versions` is pretty good! Probably can infer the "count" from the fact it's an integer.

[2018-01-11 19:48] cmarcelo opened #87 "CreateManifests should support non-numeric format"
E.g. of usage is "formatstaging"

[2018-01-11 21:45] cmarcelo opened #88 "CreateManifests (or some other part) should create the tarred version of the manifests"
At least "swupd verify -i" (how I was testing) seems to depend on those and not fallback to the plain versions.

[2018-01-11 21:48] matthewrsj commented on #88
This seems like more of a task for the fullfile creation to me. Fullfile creation is creating the downloadable full-files for an update using the output from CreateManifests. The manifest tar is essentially a specific-case fullfile.

[2018-01-11 21:50] cmarcelo commented on #88
I'll take a look then.

[2018-01-11 22:33] matthewrsj commented on #87
"staging" is a string that can be passed to the client to look in `version/formatstaging` for the relevant maxversion information. It actually isn't needed by the swupd code in mixer I believe. If you look at the current swupd-server the code that used to write that file is removed with `#if 0 ... #endif`

Or am I missing the point @cmarcelo

[2018-01-11 23:07] cmarcelo commented on #87
For some reason I thought that we could call server with a string, but that is not the case. Sorry for the noise on this one. I'll handle the validation of this together with the validation of Mixver (that also must be numeric).

[2018-01-11 23:07] #87 closed

[2018-01-12 21:48] cmarcelo opened #92 "Warning when swupd client extracts symbolic links"
swupd dumps the following warning (from libarchive):

    Warning: Linkname can't be converted from UTF-8 to current locale.

But extracting the pack with bsdtar (that also uses libarchive) doesn't complain about it. This warning is strange because we run swupd with en_US.UTF-8 locale.

See also:
- https://github.com/clearlinux/swupd-client/issues/280
- https://github.com/libarchive/libarchive/wik

[2018-01-12 23:35] cmarcelo commented on #92
The symbolic links in question do have non ASCII characters.

[code]

Next step is to see how encoding from GNU tar (used in swupd-server) is different than Go tar package so that libarchive doesn't complain about it.

[2018-01-13 01:19] cmarcelo commented on #92
- Go tar encodes the symbolic link using a PAX record "linkpath". UTF-8. Gets warning from swupd client.
- GNU tar encodes it using a GNU format header. UTF-8. No warning from swupd client.

Also tested in Go 1.10 (still unreleased), which contains a way to force the use of GNU extension for an entry.

- Go 1.10 by default for that file still produces PAX + linkpath.
- Go 1.10 tar forcing GNU form

[2018-01-16 21:30] cmarcelo opened #96 "Behavior when calling mixer build update twice"
When calling 'mixer build update' twice, the second call will try to create an update from the version to itself, leading to invalid output. This happens because after the first update, LAST_VER is also updated, and that file is used as input for the update itself.

Note that calling 'mixer build chroots' twice leads to rewriting the chroots (and reseting the environment for that version).

I don'

[2018-01-16 21:33] cmarcelo commented on #96
My own take for the short term: we should at least error out when mixver == LAST_VER. It will produce invalid updates.

Later on we save the previous version that will allow us to tell the user how to rollback.

[2018-01-17 02:36] kevincwells commented on #59
@tmarcu -- wanted to make an observation about how we might implement this, with regards to when we attempt to deal with format bumps and how we expose this to the user.

I was talking with @cmarcelo about steering the CLI away from "what tasks does the tool need to do" and more toward "what goals does the user want to accomplish". With that in mind, we run into the need for auto format bumps when

[2018-01-17 18:43] #88 closed

[2018-01-17 19:25] #12 closed

[2018-01-17 19:25] #83 closed

[2018-01-18 16:56] matthewrsj opened #97 "mixer init-mix flag error message incorrect"
[code]
Ok, I'll try that
[code]
Same with -mixver
[code]
Obviously this works
[code]

[2018-01-18 18:58] kevincwells commented on #97
I noticed the same thing and have it as a clean-up commit in the patch I'm working on right now.

[2018-01-18 19:00] kevincwells commented on #97
I also moved the flag checking up to the `Run` command where it belongs, and made it a `RunE` to pass this usage error back up to Cobra, so usage data is spat out.

[2018-01-18 19:01] kevincwells commented on #97
Annnnnnnd now I see you already did it. :P

[2018-01-19 02:02] #97 closed

[2018-01-19 23:52] cmarcelo opened #103 "Decide where mixer output for chroots should go"
[code]

The outputs include:
- files-* files (apparently not used)
- packages-BUNDLE files that list all the packages present in a BUNDLE
- BUNDLE-includes files that list the bundles included by BUNDLE

We also have two configuration files used to communicate information to the next step (build update)
- server.ini
- groups.ini

[2018-01-23 00:40] #63 closed

[2018-01-24 20:16] rchiossi commented on #27
merged in pr #101

[2018-01-24 20:16] #27 closed

[2018-01-26 00:22] tmarcu commented on #103
I like the idea of having a /chroots/30/build-data/ directory to store the package and bundle information files in; something along those lines at least so it's intuitive for me to look in there when I want to find that info. I think we have to decide on the config type we want to use (TOML) and change groups.ini -> bundles.toml and get rid of server.ini since builder.conf hosts ~all that info rea

[2018-01-26 17:54] cmarcelo opened #113 "/usr/lib/os-release of a mix should have information about the Mix itself"
The /usr/lib/os-release is a file with various lines KEY=VALUE that has some well-known keys (like NAME, VERSION_ID). When creating a mix, only the VERSION_ID is updated, all other information remains like in Clear Linux, so we get a confusing output.

There are some useful things to do here:

- Fix other fields to make sure it is a mix
- Create a section in builder.conf that would allow the user

[2018-01-26 19:32] cmarcelo opened #114 "Remove redundancies in server.ini and builder.conf"
Some (if not all) information from server.ini is already available at builder.conf, so consider making our "build update" use that directly once we move to --new-swupd.

[2018-01-26 19:35] cmarcelo opened #115 "Use dnf instead of yum to build chroots"
See https://github.com/clearlinux/mixer-tools/pull/102#discussion_r164014488.

[2018-01-26 21:05] #42 closed

[2018-01-30 18:02] cmarcelo opened #121 "Make new implementation of build chroots parallel"
Use goroutines. Do something similar than CreateFullfiles.

[2018-01-30 20:02] cmarcelo opened #122 "Add "file format" information to Manifest files (which is different than the OS content format)"
To make life easier when we ever evolve the manifest files, would be good to have a way to describe the version of the file format we are using.

I think in the past this was conflated with the "format" for the OS (as it implied what version of swupd was used and so on). But as we create mixes, this correspondence is gone.

See also the description https://github.com/clearlinux/swupd-server/wiki/M

[2018-01-30 20:02] cmarcelo commented on #122
@icarus-sparry do you have thoughts on this?

[2018-01-30 20:13] icarus-sparry commented on #122
Yes, I think the idea is very sound.

I would implement it as a list of fields that the "body" of the manifest has, rather than as a magic version number. This makes the data essentially self describing, and so allows us to add new fields without breaking older readers of the data (they should be programmed to ignore unknown fields). This list of fields would go in the header.

I would also allow

[2018-01-31 00:16] cmarcelo opened #123 "Provide better defaults to "mixer init""
At the moment, calling mix init with no arguments I get:

[code]

Things that could be improved:

- There is a "default 1" for --clear-version, which is not possible because it is a required argument. The version "1" also is not good when passed to mixer itself (it would fail).
- We could default the clear-version to be the latest published release at the moment (or the current version of Clear Li

[2018-01-31 00:17] cmarcelo opened #124 "Should we remove --config from "mixer init"?"
Since init is about creating the config file, what does the "--config" is used for. It seems wrong, should be removed or the documentation of it clarified.

[2018-01-31 00:18] cmarcelo commented on #124
@rchiossi ^

[2018-01-31 00:21] cmarcelo commented on #123
E.g. of this: might make sense to add the lines in builder.conf about RPM commented, so it is easy for the user to bump (if there's no other straightforward way).

[2018-01-31 00:30] cmarcelo opened #125 "mixer init neither fails or do the work when called repeatedly"
When calling mixer init, and then calling it again, it does some of the work, but not all, but doesn't fail, which could be confusing.

I think we should fail at init if we find that the directory was already initialized. Usually this happens either by mistake or by not knowing how to bump to a new version, so could be useful to add some information on how to do that in the error message.

Section

[2018-01-31 00:33] cmarcelo opened #126 "'Warning: bundle "" already exists; skipping.' when using mixer init --all"
The full output:

[code]

[2018-01-31 00:37] cmarcelo opened #127 "mixer init output could be more useful"
See #126 for how the output looks like. The first line (which tells the user about builder.conf) which I think is an important one gets scrolled with pages of output (even when using a lot of lines in my terminal).

Ideas:
- Do not output one line per bundle when adding them. Maybe list them in one long line instead.
- Omit the Git output in case of success and just tell me you created a git repos

[2018-01-31 00:44] tmarcu commented on #124
We can consider it. The people who are supplying their own configs are generally not calling init anyway, and the current code checks if a config exists already.

[2018-01-31 02:01] cmarcelo commented on #123
Also a small thing: the clearversion and mixversion files could have a newline added to them (we probably already handle that when reading them).

[2018-01-31 09:29] rchiossi commented on #125
I agree. Originally there where more informative output regarding what was being done and what was being skipped, but there was a request to reduce verbosity, so they were gone in the version that got integrated.

The main reason why init doesn't fail when the new steps run (builder.conf creation and --local-rpms) is because it was designed to not chance the workflow of the existing init-mix comma

[2018-01-31 09:36] rchiossi commented on #123
What is the problem with also accepting arguments in mixer init?

This use case has showed up quite often. Maybe we could have a `mixer bump` command just to handle that.

[2018-01-31 09:59] rchiossi commented on #124
Originally you could use `--config` to specify the directory where builder.conf would be created, but this was dropped along the way.
Now, for people with a builder.conf in a remote directory, it is needed to run InitMix() on that config. It is responsible for creating `.clearversion`, `.mixversion` and `.clearurl` files and setup the bundles directory and the RPMs directories.
Unless those people

[2018-01-31 10:10] rchiossi commented on #127
I don't feel like this is a good idea. The info will likely get so clogged that will just be a blob of information popping on your screen.

agree

agree, but I think it should be better to introduce a `silent` option before, so we don't have to worry too much about the verbosity of those outputs.

[2018-01-31 10:12] rchiossi commented on #127
I'll draft a PR to handle those issues, then we can iterate over it if it is still not clean enough.

[2018-01-31 18:20] kevincwells commented on #126
Huh. Let me look into this.

[2018-01-31 19:26] kevincwells commented on #125
It's a good idea to have a more clearly-defined (and clearly-communicated) scope of what `init` is supposed to do for a user, and under what circumstances. The approach so far has been to try to do things if they haven't already been done, and no-op if they have. This allows for a very fine-grained control -- you can do any or all of the steps yourself, and `init` will do the rest.  (The fact that

[2018-01-31 19:37] kevincwells commented on #127
@rchiossi  If it's not a big deal, can you hold off on this for a few days? The way init adds things to the mix and initializes the git repo is all changed in my #107 that i'm refactoring.  I like these changes, it'll just involve less rework if it's done after.

[2018-01-31 19:44] kevincwells commented on #127
:+1: to cutting the git output. I already pass `-q` in `AddBundles` for this same reason.

As for outputing bundles line-by-line or all-on-one, I think it'd be nice if it only printed the output for a small number of bundles. It only really becomes an issue if it's `--all`. The bundles are added using `AddBundles`, so we could either drop the print-out from that command  altogether, or pass in a q

[2018-01-31 20:25] rchiossi commented on #127
@kevincwells No problem. I'll wait for your PR then.

[2018-01-31 20:46] kevincwells commented on #126
Fixed in #129. All of that code goes away in my bundle refactor, but it's an easy fix and a clean merge.

[2018-01-31 20:53] cmarcelo commented on #123
That is not a problem at all. I was just pointing that if all the suggestions there are implemented / accepted, mixer init would work without any arguments.

[2018-01-31 21:15] cmarcelo commented on #125
I had in mind the smaller scope init that just creates the workdir for the first time (see also my suggestion about putting the RPM commented in the config). For which "builder.conf" exists would be an OK test for init bailing out.

If init also "fill in new things", then the story is different of course.

In both cases the existing behavior is wrong.

[2018-01-31 21:18] cmarcelo commented on #125
I don't think we have users of this command yet, IMHO you don't need to worry about legacy users here.

The use case I always had in mind was: "hey I want to create a mix, can you create all that configuration for me".

[2018-01-31 21:36] rchiossi commented on #125
'init-mix',  the predecessor of 'init',  has been around since before we joined the project so I expect it to have user. Also, it is in the official guide.

[2018-01-31 21:38] kevincwells commented on #123
My personal take is that mixer defaults should never be tied to the current version the build server is running. This one may seem innocuous, but it's a bad precedent to set. There is no conceptual link between the version a build server is at (which could be locked to a specific version by a user or dev-ops for any number of reasons) and what version a mix is made from, so having pragmatic links

[2018-01-31 21:44] #126 closed

[2018-01-31 21:46] kevincwells commented on #123
I don't follow this. What other facilities are you talking about, and why would not _needing_ params mean you'd need a different way of getting at that other functionality? (I realize you just provided an example of what other facilities, but I'm not understanding your example yet.)

[2018-02-02 00:06] cmarcelo opened #133 "When generating chroots, get the list of packages in a better way"
The current approach is to call 'yum list' and parse the results with a lot of workarounds.

See the whole story in this function https://github.com/clearlinux/mixer-tools/blob/64e3c26c1dc1bc813dc765c73ed0acf3949af6b7/builder/chroots.go#L357.

[2018-02-02 00:08] cmarcelo commented on #133
George suggested the following

<gtkramer> I was wondering what might be able to be done to ensure that plugins for either dnf or yum could be used during chroot creation?  I was wondering if this might be a good opportunity to use repoquery --plugins -qa -qf '<some format>' to gather the list of packages from a repo.  This would suppress all the extra output and just get a list of packages, and w

[2018-02-03 00:37] cmarcelo commented on #123
Note that this comment was made with the mindset of init being called only once in a working directory.

There is the --local-rpms option in init, I've called that a facility. If I don't pick it, how do I get to use local RPMs? Would be nice if there was an easy way to get that. If what --local-rpms does is to add a section to the configuration, could we make it so that the section is there, but c

[2018-02-03 21:29] cmarcelo opened #138 "Import swupd-server functional tests"
Using this issue to keep of imported tests

Original test | New test *(comments)*
---- | ----
basic | N/A *(checks help output for commands)*
contentsize-across-versions-includes | `TestContentSizeAcrossVerionsIncludes`
delete-no-version-bump | `TestCreateManifestDeleteNoVerBump`
file-name-blacklisted | `TestManifestIllegalChar`
file-name-debuginfo | `TestManifestDebuginfo`
format-bump | N/A *(act

[2018-02-03 21:30] cmarcelo commented on #138
@matthewrsj I did a best effort to identify what tests you've already imported and if they were already complete, but this worth a quick look in case I've missed anything.

[2018-02-03 21:36] cmarcelo opened #139 "Difference in behavior for subtract-delete test compared to swupd-server"
In swupd-server there was a functional test called subtract-delete (in https://github.com/clearlinux/swupd-server/blob/master/test/functional/subtract-delete/test.bats), that verified the presence of delete entries in the manifest. In swupd-server, once the file was deleted, it remained on the manifests marked as deleted.

The translated test (with the failing checks disabled) is in one of the com

[2018-02-03 21:41] cmarcelo opened #140 "Format bumps add an "action" in the manifest header"
When there was a format bump, swupd-server marked the MoM header with an "action: update".

https://github.com/clearlinux/swupd-server/blob/010131eb85b7b6a86b9febcdb6ce1891e05c8ad7/src/create_update.c#L376

See also the functional test: https://github.com/clearlinux/swupd-server/blob/master/test/functional/format-bump/test.bats#L55

[2018-02-03 21:44] matthewrsj commented on #140
This "feature" is actually deprecated now and the detection is done client side. Didn't get around to removing it from the old server because we started rewriting. Consider this comment documentation that this isn't needed server-side (at least for now).

[2018-02-03 21:44] #140 closed

[2018-02-03 21:46] cmarcelo commented on #140
Thanks!

[2018-02-04 01:01] matthewrsj commented on #138
orphaned-renames: #134

[2018-02-05 20:38] cmarcelo commented on #139
#141 should fix that.

[2018-02-05 20:40] cmarcelo commented on #139
#141 fixed that.

[2018-02-05 20:40] #139 closed

[2018-02-06 02:01] cmarcelo opened #144 "Add t.Helper() to the test helpers that still don't have it"
This call makes go test not point to the helper function when a failure happens, but to the caller. For example, when we have a fail in

    fs.mkdir("test")

the error output in go test will point to this caller code instead of the implementation of mkdir that calls t.Fatal, because t.Helper() is called in mkdir.

[2018-02-06 02:06] cmarcelo opened #145 "Fail when the user is trying to create a mix that breaks format bumps"
This is a first step towards #59: first we identify the undesired situation and do not generate a potentially invalid update. This is an easier task than providing auto format bumps, and identifying the case is necessarily anyway. Optionally add a flag to allow forcing create the mix even in the invalid scenario.

This only applies to mix creation, so regular Clear Linux workflow shouldn't be affe

[2018-02-06 02:14] cmarcelo commented on #59
Proposal on how we get this moving forward:

- Start with #145 so we stop producing "invalid" mixes.
- Teach mixer how to create a "bump" pair of versions assuming no bump in upstream (the bump is only in the mix). If we are going to mixversion N, this creates N+10 in format F+1, copy it back to N, doing some filesystem fixes.
- Teach mixer how to create a bump if we are at the edge of the bump. S

[2018-02-06 02:14] cmarcelo commented on #59
@tmarcu @kevincwells makes sense?

[2018-02-06 02:22] cmarcelo opened #146 "Identify what deltas to put in packs based on rename data"
Keeping track of

https://github.com/clearlinux/mixer-tools/blob/9b69f7a68ca41f84cd63d9d61ab3cce66b3c7e78/swupd/manifest.go#L543

once rename lands.

[2018-02-06 02:26] matthewrsj commented on #146
**the rename has landed** 🦅

[2018-02-06 02:27] matthewrsj commented on #146
Disregard, still has a conflict

[2018-02-06 05:17] icarus-sparry commented on #146
OK, all tests passing and eventually rebased onto master.

Git was not happy about two different sets of changes to create_manifest_test.go!

From: Matthew Johnson [mailto:notifications@github.com]
Sent: Monday, February 05, 2018 6:28 PM
To: clearlinux/mixer-tools <mixer-tools@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [clearlinux/mixer-tools] Identify what del

[2018-02-06 17:09] matthewrsj commented on #138
The `renames` and `renames2` tests are pretty decently covered by #128. #128 is now the PR that implements the `orphaned-renames` test.

#143 is merged. #142 is merged.

[2018-02-06 17:13] matthewrsj commented on #59
@tmarcu is putting together a proposal involving containerizing mixer and publishing a dockerfile as part of the build collateral. This approach will allow users to create any number of mixes to get to the latest format and handle the bumps for them via a simple script that loops running the dockerfile for each format. tmarcu should explain more when the proposal is fully hashed out.

[2018-02-06 18:25] matthewrsj commented on #146
**the rename has landed** 🦅

[2018-02-06 18:30] cmarcelo commented on #138
I haven't looked in detail, but a quick glance on the original rename tests seems to have more test cases, e.g. checking if we don't create rename from "small" to "large" files (even if the delta was worthwhile). But maybe these are being tested elsewhere. Are we sure there isn't anything else there to pick up?

(I'm confirming this because importing tests as they are already uncovered a couple of

[2018-02-06 18:37] cmarcelo commented on #59
OK. Let's wait on that for the big picture. Meanwhile I think that #145 (or a variant of it that just warns) would be something acceptable. What do you think?

Just a note: we've done the approach of handling format bumps from the outside (Mark's work mentioned above), and we found out that we were reimplementing in bash some logic and information gathering already done by mixer.

[2018-02-06 23:21] cmarcelo commented on #146
@icarus-sparry @tmarcu @matthewrsj

Rename question.

`
# In version 10 Manifest we have identical files.
F... HASH1 10 fileA
F... HASH1 10 fileB
`

Then in version 20 (I'll describe the chroot of it): both files are gone, and there are two new files, identical to the other ones, called `dir2/fileA`, and `dir1/fileB`. What does the manifest for 20 looks like?

A second question, what does the mani

[2018-02-06 23:27] matthewrsj commented on #146
client will detect one pair as a rename as it processes the manifest, then the remaining.

So if fileA was renamed to dir2/fileA, client my actually detect fileA->dir1/fileB and fileB->dir2/fileA. That is fine because the to-from hashes will be identical. It can use the same delta even.

[2018-02-06 23:27] icarus-sparry commented on #146
You would have this in the 20 Manifest

    .d.r HASH1 10 fileA
    .d.r HASH1 10 fileB
    F..r HASH1 20 dir2/fileC
    F..r HASH1 20 dir2/fileD

The client can decide  how it is going to do the rename - the hash (hopefully) tells us the content is identical, so it doesn't matter which is the 'source' for which 'destination'.

[2018-02-06 23:28] matthewrsj commented on #146
@icarus-sparry +1 for his clearer example.

[2018-02-06 23:28] cmarcelo commented on #146
I think I've got it. Thanks!

[2018-02-06 23:37] #144 closed

[2018-02-07 01:44] cmarcelo commented on #146
@matthewrsj a client question. (also related to a conversation with @tmarcu)

It seems the client takes a more optimistic approach with regard to deltas than I was thinking. See

https://github.com/clearlinux/swupd-client/blob/master/src/manifest.c#L1268

it walks through the new manifest files looking for rename pairs. If there's a pair, it checks the fromManifest to see if there's a file with th

[2018-02-07 02:17] matthewrsj commented on #146
@cmarcelo so I'll cautiously say that should work, just based on the fact that that function is only called in the update path with from_manifest being the current manifest on the system.

Very nice catch!

[2018-02-07 23:04] kevincwells commented on #123
See #153

[2018-02-08 19:25] cmarcelo opened #158 "Enumerate then contain/eliminate the places we need root"
From @icarus-sparry comment https://github.com/clearlinux/mixer-tools/pull/155#discussion_r167036767: _We ought to see exactly what wants 'root', and see if we can eliminate the need as a medium term goal._

Created this ticket to try at least get some sense of the amount of work we have to do. Note that if we have cases we do want to use root, it would be nice to "contain" them, so that other fun

[2018-02-08 19:52] icarus-sparry commented on #158
The yocto project use 'fakeroot' to create filesystems that appear to look exactly like the final filesystems but with needing root at all. It works by injecting extra libraries via LD_LIBRARY_PATH.

I think longer term we want to move away from using the filesystem as a simple database to something a little bit faster, there are issues where yum slows everything down massively due to excessive ca

[2018-02-08 20:02] #146 closed

[2018-02-12 17:40] cmarcelo commented on #138
Closing this. Besides tests in rename, various other tests were added.

[2018-02-12 17:40] #138 closed

[2018-02-13 22:51] #115 closed

[2018-02-15 18:11] cmarcelo commented on #125
See also: https://github.com/clearlinux/swupd-client/pull/385

[2018-02-16 19:11] tmarcu commented on #145
I just want to make sure your PR doesn't ignore the mixversion, as upstream workflow still uses it, but it happens to be that .mixversion = .clearversion.

[2018-02-16 19:33] cmarcelo commented on #145
I thought that upstream workflow used mixversion == "" and only set clearversion.

[2018-02-16 23:02] #56 closed

[2018-02-16 23:04] kevincwells commented on #56
Implemented in #167

[2018-02-16 23:05] kevincwells commented on #57
Implemented in #137

[2018-02-16 23:05] #57 closed

[2018-02-16 23:05] kevincwells commented on #55
Implemented in #137

[2018-02-16 23:05] #55 closed

[2018-02-17 00:00] #123 closed

[2018-02-17 00:34] cmarcelo commented on #121
This is done by #187, and should keep us on par with BCB. Next step is making building chroots "distributed", which will take more work, and a different issue.

[2018-02-17 00:34] #121 closed

[2018-02-17 00:36] cmarcelo commented on #113
We are in a good position to implement this now. One idea I had was allow the user provide a os-release file and process it with the template syntax. If file isn't available, we just use a default template that has a generic NAME "Mix of clearlinux" and fills in the version id.

Also: would be nice to add a couple of fields with "UPSTREAM_VERSION=" and "UPSTREAM_URL=".

[2018-02-17 00:40] cmarcelo commented on #92
I couldn't revisit this. I still think it is something on swupd client side. Go 1.10 will be released soon so we can apply the workaround for the minimum effort.

The workaround: set the format to GNU in the header of any symbolic link we archive.

[2018-02-17 00:42] cmarcelo commented on #145
I think the "versions update" command (#188) will be sufficient to close this. It does prevent unwanted bumps until we support them.

[2018-02-17 00:45] cmarcelo commented on #133
CC: @matthewrsj

This may or may not be useful to you. I think the list of packages we are holding in a text file could maybe also be something in the JSON file (or not since is not essential). Maybe some "optional" field(s) to store this kind of information about the bundle. I say optional so we don't enforce bundles to come from packages necessarily.

That way the JSON will be the "one file" we

[2018-02-17 00:47] matthewrsj commented on #133
Ah, the work I have extends the bundle struct in builder/bundleset.go with a list of file paths. All that info is in the JSON for whoever wants to use it. My work also removes the packages files and the includes files.

[2018-02-17 00:50] cmarcelo opened #193 "swupd: don't pack more than one delta for the same target hash"
When creating a pack, we may end up adding more than one delta to the same target. We should collect those and pick the smallest.

Notes:
- We already avoid packing fullfile when a delta is available.
- It made sense in the past to use `[]Delta` instead of `[]*Delta`, when resolving this issue this might change.

[2018-02-17 01:34] cmarcelo opened #194 "Maintain the "first" file for mixes versions"
In #188 we are taking advantage of having the first/latest to identify the range of versions in a format. Clear Linux infrastructure produces those first files. Would be good if a mix had this information too (in case we ever do a mix of a mix).

[2018-02-17 02:06] cmarcelo opened #195 "swupd: only fill the tar header with values we care about"
Right now we are taking whatever default the tar library reads from os.FileInfo, we should restrict to only read. It is not totally trivial to fix this because you need to get Uid/Gid, that are not available directly in os.FileInfo. See the source code of tar or of swupd-extract (that needs to read Uid/Gid).

See also: https://github.com/clearlinux/mixer-tools/blob/master/swupd/fullfiles.go#L363

[2018-02-20 20:33] kevincwells commented on #53
Most of this is implemented by #177.

What's not in that PR is checking validity of the bundles and packages listed in the bundle.
Checking packages would be pretty easy - calling `getBundlePath` on each included bundle would do the trick. Not entirely sure where to look to validate packages. @matthewrsj probably knows.

Both of these can be incremental patches.

[2018-02-22 19:12] kevincwells commented on #77
@mdhorn this got merged to Master yesterday. Enjoy!

I'm working on the contextual completion (`mixer bundle add edi[TAB]` --> `mixer bundle add editors`) right now.

[2018-02-22 19:12] #77 closed

[2018-02-22 20:07] tmarcu commented on #58
I agree with this approach.

[2018-02-22 20:08] tmarcu commented on #54
@rchiossi working on this right now.

[2018-02-22 20:11] tmarcu commented on #145
Check merged into mastre.

[2018-02-22 20:11] #145 closed

[2018-02-22 20:16] tmarcu commented on #193
@matthewrsj what do you think of this?

[2018-02-22 20:17] matthewrsj commented on #193
+1 to this idea, I suggested it in the first place

[2018-02-22 20:20] tmarcu opened #203 "Docker container to run mixer"
To support automated format bumps, and to make the mixing process less involved while running in ~any environment, use a Docker file to build mixes.

Ideally this will be a Dockerfile that runs a given build script (i.e build.sh), which will have a default of building chroots, update, and deltapacks. Users can then edit this or supply their own build script if they must use other options, or can i

[2018-02-22 20:26] tmarcu commented on #125
You should not fail if you have already initialized a directory...in another program:
[code]
At most no-op and print something like this. It currently is still being used to update versions, for which there should arguably be a different method.

[2018-02-22 20:26] #125 closed

[2018-02-22 20:32] tmarcu commented on #124
I think taking this out would add more work to deal with configs and output dirs being stored in remote locations.

[2018-02-22 20:35] #26 closed

[2018-02-22 20:39] tmarcu commented on #34
Handled internally by mixer now w/init.

[2018-02-22 20:40] #44 closed

[2018-02-22 20:40] tmarcu commented on #53
This issue is fixed, we can open another for packages.

[2018-02-22 20:40] #53 closed

[2018-02-22 20:42] tmarcu commented on #59
Proposal and architecture have been reviewed, and issues are being tracked for this on github now (see https://github.com/clearlinux/mixer-tools/issues/203). Adding this to the board.

[2018-02-22 20:42] tmarcu commented on #70
This will be a major bump to 4.0.0

[2018-02-22 20:42] #70 closed

[2018-02-22 20:46] #73 closed

[2018-02-22 20:46] tmarcu commented on #158
This will be affected by https://github.com/clearlinux/mixer-tools/issues/203

[2018-02-22 21:00] tmarcu commented on #127
bumps?

[2018-02-22 21:10] cmarcelo commented on #125
I still think it needs either documentation or the command should be fixed to do something else in those cases.

[2018-02-22 21:12] cmarcelo commented on #124
I probably have a wrong understanding about what we want 'mixer init' to do. I thought the goal was to use it only to create a new config, so passing a config to be opened seems wrong. If that is not the case, this issue should be closed.

[2018-02-22 22:41] tmarcu commented on #96
When mixver = current ver it's technically doing a minversion build. Option B.) has historically been rejected because of reproducible build issues, and numbers are cheap so if a build did not work, skip it and move forward. I don't think re-creating the same ver should be allowed unless EVERYTHING is rebuilt, but chroots may in fact be correct, and just the update failed. In this case, we do not

[2018-02-22 22:55] tmarcu opened #204 "Generate Mixer metadata for supported builds"
To implement auto format bump, a key feature is a metafile like formatN/latest, called MIX_# or similar, which houses the latest build version it is able to make a mix for. Thus, if someone tries to make a mix for version 22000, but their current  mixer can only build up to 21500, it's obvious a format bump is needed.

[2018-02-23 01:58] matthewrsj opened #205 "CreateDelta is not handling FULLDL correctly"
CreateDelta attempts to handle FULLDL from bsdiff gracefully and print a message that the delta will not be used. Instead it prints:
[code]

A loud error before continuing. This should be much quieter since it is not an error case, the delta was just not worth it.

[2018-03-01 19:42] cmarcelo commented on #205
The code intention was to do this, but apparently the type matching is not working.

https://github.com/clearlinux/mixer-tools/blob/master/swupd/delta.go#L110

[2018-03-02 22:30] kevincwells opened #213 "Repeated calls to 'mixer bundle add'"
If a user calls `mixer bundle add <bundle>` multiple times, mixer still outputs `Adding bundle <bundle> from upstream bundles` every time. To improve clarity to users and better mirror the output of other commands, this output should instead report something like `Bundle <bundle> already found in mix; skipping`

[2018-03-02 22:31] matthewrsj commented on #213
Is it skipped, or is the definition update/replaced with upstream?

[2018-03-02 22:41] kevincwells commented on #213
This command adds the mix _to your Mix Bundle List_  (aka, "to your mix"), and thus does not affect definition files whatsoever. And as the Mix Bundle List is treated as a set, adding it to the list multiple times has the same effect as skipping. The patch I'm submitting just literally skips, and says so.

[2018-03-02 22:41] matthewrsj commented on #213
ah ok.

[2018-03-07 19:42] #213 closed

[2018-03-16 17:29] mrkz opened #238 "listing bundles with missing local-bundles dir fails"
IMO listing bundles when there's no local-bundles dir should be similar as having an empty local-bundles dir instead of an error.
[code]

[2018-03-16 17:47] rchiossi commented on #238
I belive the main reason is because if you are making a new mix you are expected to have something that is not upstream. That is why LOCAL_BUNDLES_DIR is a required property in builder.conf

[2018-03-16 17:55] bryteise commented on #238
Hrm I'd expect somebody to want to make a mix with exactly what is upstream though just having their own release cadence. Seems like a reasonable feature.

[2018-03-16 18:04] kevincwells commented on #238
Or someone could want to limit their customers to a subset of what is in CLR.

[2018-03-16 18:05] tmarcu commented on #238
The other option is to just mkdir the directory, either way I agree don't fail.

[2018-03-16 18:07] mrkz commented on #238
The dir is created on mix init, but I deteled it for cleaning the dir (as I
won't create new bundles). But if it doesn't fail for empty dir, i would
expect to ignore the dir if it doesn't exists.

On Mar 16, 2018 12:05, "tmarcu" <notifications@github.com> wrote:

[2018-03-16 18:08] kevincwells commented on #238
It doesn't seem wrong to me to fail if, in fact, `LOCAL_BUNDLE_DIR` is set. But it also seems reasonable to me to allow you to not set it and have it not exist.

[2018-03-16 18:12] rchiossi commented on #238
In that case we need to change builder everywhere BundlesDir is used, not only for list bundles, since it expects the dir to always exists,

[2018-03-16 18:14] kevincwells commented on #238
`LocalBundleDir`, but yeah, we would :frowning_face:

But that's not that many places and it seems like a reasonable thing to me at first blush

[2018-03-16 18:19] kevincwells commented on #238
This I don't agree with. If you try to `ls` an empty directory, it returns nothing. Try to `ls` a non-existent directory, you get a `No such file or directory` error.

[2018-03-16 18:30] kevincwells commented on #238
If we allow people to leave `LOCAL_BUNDLE_DIR` unset, it would mean that `mixer bundle edit` (which writes to `LOCAL_BUNDLE_DIR`) would need to fail cleanly with a nice message about `LOCAL_BUNDLE_DIR` not being set.

For other commands that only read from `LOCAL_BUNDLE_DIR`, we have the option of silently treating it like it is empty or actively commenting that local `LOCAL_BUNDLE_DIR` is not def

[2018-03-16 18:32] kevincwells commented on #34
This is outdated, but the concept here is still needed as part of automatic format bumps, and the basis of the implementation suggested is still applicable.

[2018-03-22 16:27] matthewrsj opened #241 "The <bundle>-extra-files file needs to be read from a persistent location"
The <bundle>-extra-files file defines extra files that need to be added to the <bundle> manifest that are not part of any package in the bundle definition. A common use case is adding signed `.pem` files to the `os-core-update` bundle in Clear Linux.

Right now this file is read from the `image/<ver>` directory, which is created new every time a user runs `build bundles` with a new version defined

[2018-04-03 23:39] mpurzynski opened #251 "mixer build update merges paths incorrectly"
When trying to update my mix from upstream version 21530 to 21630 I'm getting the following error (after having updated chroots, bumped a local version, etc).

ERROR: couldn't build update: failed to create update metadata: lstat /home/clr/mix/update/image/390/full/usr/share/systemd/language-fallback-map/usr/lib/systemd/system/multi-user.target.wants/prebuilt-trust-store.service: not a directory

[2018-04-04 22:52] cmarcelo opened #252 "Improve error message when network connectivity fails"
We have a set of users that will hit this kind of error because they need https_proxy but it is not set:

[code]

It may be worthwhile to show a more human friendly error message here for such case, and if the relevant proxy is not set also suggest it as one option.

Also consider whether reducing the timeout could be helpful. (The default is a bit long).

[2018-04-04 23:03] icarus-sparry commented on #252
Or I just get my localproxy stuff in soon so they don't need to set https_proxy explicitly.....

[2018-04-06 16:00] matthewrsj commented on #251
We just figured out the root cause of this yesterday (well not full root cause, but we figured out where to pass the blame). You need to make sure you are running in a UTF-8 locale. It turns out the following internal command

`dnf repoquery --quiet -l systemd ca-certs-static ...`

combines the systemd file list and the ca-certs-static file list with no newline in between *if the command is not ru

[2018-04-13 22:56] kevincwells opened #260 "'mixer build bundles' fails with local and upstream package collisions."
# Issue
Mixer fails to build update content if local and upstream rpm repositories have a package name collision with different content.

# Cause
`mixer build bundles` now relies on the output of `dnf repoquery -l` to get the contents of a given package and `dnf install` to put the contents of that package into the `full` chroot. `dnf repoquery` does not utilize the repository prioritization resol

[2018-04-13 22:57] kevincwells commented on #260
@matthewrsj - does this adequately reflect your understanding of the conversation we just had? Writing this down in case I can't fix this before I leave.

[2018-04-13 23:07] icarus-sparry commented on #260
Another solution is to implement the "zero root" approach and make the selection of the rpm's better (i.e. don't do `dnf install` at all, and make the virtual `dnf repoquery` know about priorities).

[2018-04-16 17:09] #260 closed

[2018-04-25 22:19] bwarden opened #264 "Need to support storing kernel source under /usr/src"
https://github.com/clearlinux/mixer-tools/blob/c13b0dbf505eb750ec7d507f57be258274826a2e/swupd/heuristics.go#L62

Kernel source (e.g. to support building out-of-tree modules) is typically stored beneath /usr/src, but this path is specifically disallowed.

Example path: /usr/src/linux-4.16.4-556.native/

[2018-05-02 05:35] mbelluzzo opened #268 "[Builder] BUNDLE_DIR vs [Mixer] LOCAL_BUNDLE_DIR"
Is [Builder] BUNDLE_DIR still used at all? When moving from an older mixer release to 4.3.3, it looks like mix-bundles folder is useless.

If it isn't required anymore, can mixer stop to create this entry on builder.conf and avoid confusion?

If it is, what is the current usage?

[2018-05-02 05:45] mbelluzzo opened #269 "Allow LOCAL_BUNDLE_DIR ('local-bundles') to be a repository"
My mix custom bundles are kept on its own git repository. It is very convenient to just git clone that repository on LOCAL_BUNDLE_DIR for mixing. It used to work just fine when 'mix-bundles' was the bundles folder.

Now if I try to do that I get the following errors:
[code]

[2018-05-02 05:59] mbelluzzo opened #270 "Allow the user to set CONTENTURL and VERSIONURL during mixer init"
Just makes life easier, specially for scripts running mixer.

[2018-05-02 06:11] mbelluzzo opened #271 "mixer versions update: Add argument to set the format as well"
In order to automate format bumps, the only value that still need to 'sed'ed on builder.conf is the format. If would help a lot on automation if we could just set the format number as easy as we can set clear-version and mix-version (Doesn't need to be via 'versions update')

[2018-05-02 17:13] matthewrsj commented on #269
We should just ignore all `.files` in this case.

[2018-05-02 17:30] rchiossi commented on #268
`The BUNDLE_DIR variable sets the path where mixer temporarily stores the bundle definition files while building chroots. Only the legacy chroot-builder uses this path. `

You are right. Since we just removed the old chroots, this is not needed anymore. Still, I'm working on some sort of versioning system for builder.conf to handle compatibility between versions, so I prefer to imbue this change o

[2018-05-02 17:34] rchiossi commented on #270
Those variables will soon be part of builder.conf. See this commit for reference: https://github.com/rchiossi/mixer-tools/commit/028460bc59d51b989ede316ed35b5b3695d8d144
(This is part of an ongoing patch I'm working on)

[2018-05-02 17:38] rchiossi commented on #271
There is a `mixer config set` command incoming, but I'm not convinced that it should work for format. Sounds misleading since a user might think just bumping on builder.conf is enough to do a format bump.

[2018-05-02 18:02] mbelluzzo commented on #271
It would also be useful when someone is starting a mix from a clean environment but needs that his mix be of a given FORMAT to match previous builds. Imagine something happened with the workspace  but we need to keep going with a update stream that is already being provided to users.

[2018-05-02 19:53] mbelluzzo commented on #270
Those are already part of the builder.conf file, but I can't set its value during a 'mixer init' call.

If I understood your ongoing patch right, you are just moving the info located outside builder.conf to be inside it. But are you also adding more options so we can change values in builder.conf file in a convenient way?

[2018-05-02 20:10] rchiossi commented on #270
Ah, got it. I don't think adding commands for every single configuration is the way to go, but we might be able to allow then to be set as envvars. I'll look into it.

[2018-05-02 20:13] rchiossi commented on #271
That doesn't seems like a common use case. For such situation I don't think editing the file is too much of a problem. But I see your point. Originally I planned mixer configuration set to be agnostic and just edit the file, the the team was vocal against it for the reason I mentioned.

[2018-05-02 20:26] mbelluzzo commented on #270
For non human users, editing a config file is a pain. If we provide a pre-built one, its hard to keep track of changes you guys do here. So I do say that for me commands like mixer version update are a nice feature.

[2018-05-02 23:51] #269 closed

[2018-05-04 16:49] bktan8 opened #275 "Eliminate the "--local-rpms" options with "mixer init" and just automatically create the local-rpms and local-yum directories"
Why not just automatically create the local-rpms and local-yum directories and add their paths into the builder.conf file without the user having to specify the "--local-rpms" option as part of the "mixer init"?

If the user misses the "--local-rpms" options at the beginning, s/he has to manually create the these "local" workspaces and modify the builder.conf which can lead to errors if not modifi

[2018-05-04 16:54] bktan8 opened #276 "Need an offline mixing capability"
Would be nice to have ability for mixer to work without the internet.
Need ability to clone all upstream packages and create mixes from them.

[2018-05-04 16:55] matthewrsj commented on #276
Have you seen the `--offline` flag?

How do you expect to clone upstream if you want to work offline though?

[2018-05-04 18:33] gtkramer commented on #271
@rchiossi I think this would be a good use case for any downstream that wants to set up robust automation.  Perhaps if it's confusing to have a `mixer config set format` command, we could clarify this through documentation for mixer in a man page.

[2018-05-07 17:53] bktan8 opened #279 "Would like a "mixer bundle remove --all" option"
It would be nice to have a "remove --all" option to completely remove all bundles instead of having to name each bundle.

[2018-05-07 17:57] icarus-sparry commented on #279
What is wrong with

    cd /usr/share/clear/bundles
    swupd bundle remove *

[2018-05-07 18:01] matthewrsj commented on #279
@icarus-sparry I'm not sure how that would solve his problem, let alone work. I believe @bktan8 wants to essentially wipe his mixbundles file. I think that sounds like a reasonable feature request. I'd say just remove the contents of `mixbundles` but that is an implementation detail the user doesn't need to know about.

[2018-05-07 18:04] icarus-sparry commented on #279
Ah, I managed to see this as a request to remove all bundles from the OS - my mistake.

So something like

            mixer bundle remove $( mixer bundle list XXXX)

instead?

[2018-05-07 18:05] matthewrsj commented on #279
That would need more processing I believe, since `mixer bundle list` outputs a bunch of other garbage too... /me glares at @kevincwells

[2018-05-07 18:06] rchiossi commented on #279
That --all flag seems like a good idea to me. It shouldn't require much work to add/maintain it anyway.

[2018-05-07 18:24] bktan8 opened #280 "Would like to know the size of a mix with something like "mixer versions --size""

[2018-05-07 18:25] matthewrsj commented on #280
can you be more specific? size of update? size of entire OS? size of each bundle? size of upstream? size of local only? size of local-rpms?

[2018-05-07 18:25] matthewrsj commented on #280
This is not a trivial request, depending on what you are asking for.

[2018-05-07 18:46] bktan8 commented on #280
I'd like to know total size of all bundles in the mix and total size of the update.

[2018-05-07 18:48] matthewrsj commented on #280
Not sure about this one. An update can be from any version to any version, can include any bundle or not include any bundle.

So size of the entire os content for any version? I'm not seeing the usefulness of this to be honest. What is the specific use case?

For now you can run `du -sh <mix-workspace>/image/<mix-version>/full` and it will give you exactly what you want.

[2018-05-07 19:00] icarus-sparry commented on #279
I think it would be better to have a `--short` flag for `mixer bundle list` to just give the names only, so you can compose things, e.g.

           mixer bundle list --short | grep -v '^R-' | xargs mixer bundle remove

to remove things which are not R packages. The `--all` might be the most frequent need, but it is surely not the only one.

[2018-05-07 19:10] matthewrsj commented on #279
In that case it might be better to just make bundle remove support regex?

[code]
(or something)

[2018-05-07 19:28] rchiossi commented on #279
That is a bit too much. If you need regex support you better of using some other tool to get you what you want.

Do we have other use cases for getting the list, names only or removing them all is the only one so far?

[2018-05-07 20:45] matthewrsj commented on #279
Why? We can just `import "regexp"` and use the library.

[2018-05-07 21:04] rchiossi commented on #279
Because then you need to add testing and documentation for the regex use and fix any awkward error that might appear because someone found a weird regex that breaks everything.

[2018-05-07 22:49] matthewrsj commented on #279
we don't have to re-implement regex parsing. All we have to do is pass the string to the library function. That is hardly anything more to test

[2018-05-07 23:35] bktan8 opened #282 ""mixer versions update" fails without a network connection to the upstream server"
Incrementing mixversion with "mixer versions update" doesn't work unless there's a network connection.  Even if I add the "--offline" option, it still won't work.

[2018-05-07 23:41] bktan8 opened #283 "Would like option to "init" a mix in offline mode and just use local RPMs"
Today, "mixer init" requires a network connection to the upstream server.
It would be nice to initiate a mix in completely offline mode and just use local RPMs.

[2018-05-08 22:00] matthewrsj opened #285 "Add mixer man page"

[2018-05-11 21:20] bktan8 opened #289 "if there's an unsuccessful mix in /usr/share/mix, roll back so it doesn't mess up swupd"
Whenever there's some issue with swupd-add-pkg, it tends to mess up swupd and the only fix is to remove /usr/share/mix.

For example, I had a bad mix because of proxy issue.  When I tried to do a "swupd update", it just said "update started" and it took 0.6 seconds without anything else.  But the error ($?) was 1.

Most users will not know the cause of the problem and will not know to remove /usr/

[2018-05-13 03:34] TZRLYMY opened #291 "Extend mixer tool to support other linux distribution systems"
Is it possible to use the mixer tool to control system version of the centos 7? Or need to make some changes and customization?
Any suggestions?

[2018-05-13 03:39] matthewrsj commented on #291
What exactly are you asking for? Mixer builds update content for swupd-client, the updater used by Clear Linux (and in some cases yocto I believe). Centos uses DNF to apply updates to installed RPMs. Swupd is a file-based updater and uses manifests to coordinate updates. These are entirely different, and incompatible, update mechanisms.

Can you give some more details what you are looking for?

[2018-05-14 23:03] #289 closed

[2018-05-15 18:55] matthewrsj commented on #280
Closing as wontfix

[2018-05-15 18:55] #280 closed

[2018-05-16 22:55] cmarcelo commented on #282
builder.go:UpdateVersions currently does all the checking of the upstream version is not going to change. In that case, these could probably be skipped.

[2018-05-16 23:01] cmarcelo commented on #283
Typically a "mix" is based on some existing version of Clear Linux (or of other mix). For init, you need to have only available somehow so it can bootstrap information (e.g. bundle information, and the upstreamversion).

It probably would help understand your larger goal to see what is the best way to solve your issue. E.g. do you want to create a new mix without any content from Clear Linux or ot

[2018-05-16 23:37] cmarcelo commented on #113
For debugging libarchive, some starting points:

<thiago> if anyone wnats to debug this, put a breakpoint in archive_entry.c line 1301 with condition r != 0
<thiago> the debug fuse doesn't work for me (container)

[2018-05-16 23:38] matthewrsj commented on #113
@cmarcelo wrong issue?

[2018-05-16 23:39] matthewrsj commented on #205
Fixed by #299

[2018-05-16 23:39] #205 closed

[2018-05-16 23:39] cmarcelo commented on #113
Yes! Sorry for the noise.

[2018-05-16 23:40] cmarcelo commented on #92
For debugging libarchive, a starting point:

[code]

[2018-05-17 00:02] kevincwells opened #300 "add '--default-bundles' flag to 'mixer init'"
Current State
------------------

Currently, `mixer init` does one of three things:
1. Under normal circumstances, adds the four default bundles (os-core, os-core-update, bootloader, and kernel-native) to your mix.
1. If `--all-upstream` is passed, adds all upstream bundles to your mix. (And/or the niche `--all-local`, for all local bundles, if you already have them at init time.)
1. If the `mixbu

[2018-05-17 17:29] bktan8 commented on #283
@cmarcelo - we have a customer interested in the ability to mix completely offline.

I was able to archive the upstream packages and bundle definitions and move them over to "local" and completely mix offline ONCE I get pass the "init" stage which still requires a network connection.  The global flag "--offline" doesn't seem to apply to "init".

I'm looking to see if we can make "init" create boil

[2018-05-17 17:49] cmarcelo commented on #283
@bktan8 Thanks for the explanation. I'm not sure about whether will this mix get updates... i.e. if it uses a package "glibc" in the Mix, and Clear releases a new version -- what is the plan to get this new version in the mix?

The mixer tool has some codepaths to not use the upstream (which are used to create Clear Linux itself), it seems like that "mode" would be useful in this case. Since "init

[2018-05-17 18:00] ahkok commented on #283
Effectively the question would be a request to be able to have the `master` be changeable to a different server so mixes can be mixed. I don't see any reason to not support it, after all, the only thing needed would be to change `cdn.download.clearlinux.org/update` into a configuration variable. And then people can make it point to `http://127.0.0.1/` or even `file:///var/bktan8`. This would be ac

[2018-05-17 18:07] cmarcelo commented on #283
@ahkok agreed. We already have some plumbing for this (i.e. supporting mixing from an upstream other than Clear Linux itself), but might need some tweaks. That is slightly different than I was thinking was being asked, but might be enough for @bktan8 use case.

[2018-05-17 18:07] tmarcu commented on #283
The option to set your own server or backup servers etc currently exists with the `mixer repo add|remove` command. I am worried about what @cmarcelo points out, if all they are doing is creating a mirror of upstream Clear, they will have to re-pull all the RPMs again for that new upstream version each time it's bumped - which they should do so they don't stay pinned to an old release. At that poin

[2018-05-17 18:08] matthewrsj commented on #283
This can already be set in the builder.conf. I've used it for my testing many times to point to an internal server when the proxy or CDN is being too slow.

[2018-05-17 18:10] kevincwells commented on #283
This is true for everything _except_ the bundle definitions themselves, for which we pull a release tarball from [github](https://github.com/clearlinux/clr-bundles/releases)

[2018-05-17 18:11] matthewrsj commented on #283
Ah, yes this should be configurable as well.

[2018-05-17 18:13] tmarcu commented on #283
The bundle definitions should be updated to configurable too 👍
I understand client machines needing to be off-line or restricted to a subnet pulling from a custom server, but why does the mix server itself have to be isolated from the network? <- in the case that you are NOT providing every single RPM yourself, and have to go download them from download.clearlinux.org still anyway before you can b

[2018-05-17 19:34] seanvk commented on #283
A downstream customer  with many Clear based clients will already be mixing their own releases and setting builder.conf to their update server.  So having a configurable bulder.conf for offline mixing is a doable thing.

[2018-05-17 21:01] kevincwells commented on #283
Just to be completely clear, `--offline` _does_ "work for `mixer init`", but it's probably a little unclear what it's actually doing. Let me try to clarify a little what's going on.

`mixer init` does two things relevant to this conversation:
1. Pulls down the upstream package list and bundle definition files, and puts them in `upstream-bundles/`.
1. Makes an internal call to `AddBundles` for the

[2018-05-17 21:06] kevincwells commented on #283
**A very important thing to note**, though, is that even if you have local copies of the bundle definitions cached as @bktan8 has described, this **does not actually let you "completely mix offline"**.  As mentioned above, the `--offline` tag stops `mixer` from trying to fetch bundle definition content from upstream. **During an actual build, mixer still fetches all upstream package content from u

[2018-05-17 21:31] kevincwells commented on #283
@bktan8 -- Ah, yup! The only way to do a true full offline build is to mirror _every_ RPM from _every_ upstream bundle in your mix to your local dnf repo, like you just described. Not an easy task for a large mix with many bundles. Out of curiosity, how did you go about building the list of RPMs you needed to clone from upstream?

[2018-05-17 21:34] bktan8 commented on #283
@kevincwells - I just cloned everything with:

           $ wget -A.rpm --no-verbose --no-parent --recursive --level=1 --no-directories
           https://download.clearlinux.org/releases/22290/clear/x86_64/os/Packages/

Customer is also interested in scenario where they can archive different versions (in case upstream no longer exists) and go back and mix with.

[2018-05-17 21:54] kevincwells commented on #283
Hey @bktan8 -- thanks for sharing your full workflow above. Let me offer some feedback:

Part of Step 1 and Step 4 cancel each other out. All `--all-upstream` does in Step 1 is add every single upstream bundle to your `mixbundles` list. It doesn't affect anything else (like which bundles are fetched to `upstream-bundles/`). You then take them all back out in Step 4, so you could skip this flag and

[2018-05-17 22:27] matthewrsj opened #303 "mixin: do not always set mix version to system version * 1000"
This causes the mix version to just keep multiplying by 1000 and not reflect the upstream version at all. The upstreamurl file needs to be used instead.

[2018-05-17 23:35] kevincwells commented on #300
That feels a _little_ backward to me, 'cause what you're enabling is the act of _not_ doing something. But at the same time, that's exactly what I did with `mixer bundle edit --supress-editor` -- the default behavior is to do something, and you pass an affirmative flag to skip doing that thing.

I kind of liked that `--all-upstream`, `--all-local`, and `--default-bundles` all described what bundle

[2018-05-17 23:45] rchiossi commented on #300
For all those flags you just call them by name, you don't do `--all-local=true` or `--supress-editor=true`.

`--default-bundles=false --all-local --all-upstream` looks very asymmetric to me ;)

[2018-05-18 00:50] tmarcu commented on #283
From my offline conversation with @bktan8 it seems the underlying issue here is a need to have content persist forever, so that it is always accessible regardless of the state of our upstream content. Being able to build offline once a build is done can be easily achieved by enabling a cache, so mixes can be created again when you're on a plane or conference with no network. However, this issue po

[2018-05-18 02:04] matthewrsj commented on #283
You can remove remote repos by running `mixer repo remove <name>`. The names of the repos you have configured can be found with `mixer repo list`. So if you have all the RPMs local you can remove the default `clear` repo or `mixer repo set-url clear <new-url>` to a local repo url.

[2018-05-18 17:41] #303 closed

[2018-05-18 18:27] kevincwells commented on #300
To be fair, you would never pass `--default-bundles=false` and `--all-upstream` at the same time, as the latter would undo the former... but point taken :wink:

[2018-05-18 18:33] kevincwells commented on #300
@rchiossi  -- Updated. I should have just implemented this in the time I've spent on this issue. Then this rename discussion could have happened in the PR comments ;)

[2018-05-18 22:15] matthewrsj opened #309 "Enable local RPMs in mixin"
Mixin does not initialize the local RPM repo when a user has added an rpm to the local-rpms directory. This should be done before adding a package.

[2018-05-18 22:16] matthewrsj opened #310 "Allow users to specify the bundle name of a mixin package"
Add a --bundles flag to mixin package add so users can override the default bundle named after the repo the package was taken from.

[2018-05-18 22:45] phmccarty opened #311 "Finish support for type changes"
[Related issue in swupd-client](https://github.com/clearlinux/swupd-client/issues/209)

Mixer currently supports these type changes:
* file -> symlink
* file -> directory
* symlink -> file
* symlink -> directory

It should also support:
* directory -> file
* directory -> symlink

[2018-05-20 04:16] bktan8 opened #316 "The default "Clear" repo is not recognized by its name, but by its section block name "clear""
$ mixer repo list
Clear	https://download.clearlinux.org/releases/$releasever/clear/x86_64/os/
Local	file:///home/bktan8/mixer2/local-yum

$ mixer repo remove Clear
Repo Clear does not exist.
Removed Clear repo.

$ mixer repo remove clear
Removed clear repo.

[2018-05-23 21:40] #309 closed

[2018-05-23 21:51] icarus-sparry opened #319 "EditBundles api needs to be improved."
EditBundles from builder/bundles.go has a confusing interface, with 3 bool flags to turn on and off things.

Whilst it has a good godoc comment

    // EditBundles copies a list of bundles from upstream-bundles to local-bundles
    // (if they are not already there) or creates a blank template if they are new,
    // and launches an editor to edit them. Passing true for 'suppressEditor' will
    /

[2018-05-25 18:01] bktan8 opened #323 ""mixin repo list" should perform "mixin repo init" if user hasn't added a repo"
If a user hasn't added a repo, "$ mixin repo list" returns:

     ERROR: stat /usr/share/mix/.yum-mix.conf: no such file or directory

I think it would be nicer if mixin simply performs "init" automatically and return the default repos like this:

     Clear	https://download.clearlinux.org/releases/$releasever/clear/x86_64/os/
     Local	file:///usr/share/mix/local

[2018-05-25 18:20] rchiossi commented on #323
Maybe a nicer error message warning the user that it has not been initialized and that he should run init instead. Just running init in the background can hide other errors (e.g. the user has already ran init, but is now running `mixin repo list` in the wrong folder)

[2018-05-25 19:55] matthewrsj commented on #323
@rchiossi I like that idea. A better error message should be printed.

[2018-05-25 20:03] bktan8 opened #325 ""Certificate verification error: self signed certificate" error occurs after rollback and not performing "swupd clean --all""
If you rollback and not perform "swupd clean --all", swupd issues:

     Certificate verification error: self signed certificate
     WARNING!!! FAILED TO VERIFY SIGNATURE OF Manifest.MoM version 22600000

error messages because the original certificate exists.

Steps to repo:

assuming clean system (have not rollbacked before)
1) sudo mixin repo add myrepo file:///home/user/mixin-repo/
2) sudo -E

[2018-05-25 20:09] bktan8 opened #326 "mixin cannot add package from repo if the "clear" repo is removed"
If you remove the default "clear" repo, "mixin package add" fails to find and add packages in a private repo.

Steps to repo:
1) mkdir -p /home/user/mixin-repo
2) cp helloworldb* /home/user/mixin-repo
3) cd /home/user/mixin-repo
4) sudo createrepo_c .
5) sudo mixin repo add myrepo file:///home/user/mixin-repo/
6) sudo mixin repo remove clear
7) sudo -E mixin package add helloworldb

Should get:

[2018-05-29 18:21] bktan8 opened #328 "local mix breaks if I accidentally run "mixin build" twice in a row"
If I accidentally run "mixin build" twice in a row, I get this error:

    * Verified upstream Manifest.MoM
    ERROR: open /usr/share/mix/update/www/22640000/Manifest.MoM: no such file or directory

And I can't "update --migrate".  The only way for me to resolve this is to "verify --fx" back.

[2018-05-29 19:40] #300 closed

[2018-05-29 20:33] #316 closed

[2018-05-31 19:47] phmccarty opened #333 "Adding more bundle metadata to tracking files"
It may be nice for swupd users to query specific information about a bundle. For example, they may want to know the status of a bundle, or its description, maintainer, etc. It could be implemented in swupd-client as a new subcommand (maybe `swupd bundle-info BUNDLE`).

To enable this swupd-client feature, mixer could add extra metadata to the bundle tracking files in `/usr/share/clear/bundles`, an

[2018-06-01 23:12] matthewrsj commented on #333
Different solution done in #336

[2018-06-01 23:12] #333 closed

[2018-06-04 19:45] cmarcelo commented on #251
Could mixer set the environment variable when calling dnf?

[2018-06-05 16:26] matthewrsj opened #337 "mixin local RPM adding broken since last release"
[code]

An issue seems to be that `mixin/helpers.go` is writing the default configuration using the `UseNewConfig` option, but it is being read everywhere using the old configuration parsing.

[2018-06-05 16:29] matthewrsj commented on #337
Some more information, when execution reaches https://github.com/clearlinux/mixer-tools/blob/master/mixin/package.go#L117 `b.Config.Mixer.LocalRPMDir` is an empty string.

[2018-06-07 22:24] bktan8 opened #340 "mixin: Unable to make subsequence mix after first one"
On an upstream Clear version (22850), I made a mix with one package, migrated, and successfully installed my bundle.  Then I tried to make a 2nd mix, but I get this error when building:

* Verified upstream Manifest.MoM
ERROR: open /usr/share/mix/update/www/22850000/Manifest.MoM: no such file or directory

[2018-06-08 19:12] bktan8 opened #341 "mixin: Would like ability to migrate to local mix without being forced to upgrade if there's a newer upstream version"
If I make a local mix, using version 22640 for example, I would like the ability to migrate to just the mixed version (e.g. 22640000).  I don't want my mix to be upgraded if there's a newer version upstream.

[2018-06-11 04:58] rebeccasf opened #343 "mixin: failed to migrate to custom mix"
$ sudo -E swupd update --migrate
Attempting to migrate to your mix content...

Update started.
Preparing to update from 22880 to 22880000
Warning: hash check failed for Manifest.os-core for version 22880000. Deleting it.
Warning: Removing corrupt Manifest.os-core artifacts and re-downloading...
Downloading packs...
        ...100%

Statistics for going from version 22880 to version 22880000:

[2018-06-11 17:40] tmarcu commented on #343
@rebeccasf Thanks for opening this, but after looking at it the bug is coming from swupd-client actually. I'm going to close this and opened it in the client repo instead: https://github.com/clearlinux/swupd-client/issues/480

[2018-06-11 17:40] #343 closed

[2018-06-12 00:16] phmccarty opened #345 "Remove old heuristics"
There are obsolete heuristics present in swupd/heuristics.go, no longer needed for Clear Linux OS.

In `setStateFromPathname()`, all strings in `otherStatePaths` can be removed except for `"/lost+found"`, since they reference directories not present in the distro, and are they unlikely to be used by mixer users.

Also, in `setBootFromPathname()`, the two references to `gummiboot` can go away, sinc

[2018-06-13 20:42] bktan8 opened #347 "mixin: the version number is not incremented on subsequent builds"
After first mixin, migrate, bundle install, and then creation of a new mixin, the version number didn't increment as expected.  Here's an example:

clear@clear-os ~ $ sudo -E mixin package add helloworld --bundle helloworld-bundle
Initializing mix version 23000000 from upstream version 23000
Bundle "os-core" already in mix; skipping
Adding bundle "helloworld-bundle" from local bundles
Added hellow

[2018-06-13 22:12] cmarcelo opened #348 "Race condition in 'mixer build bundles'"
Just creating a mix with init, then running repeatedly mixer build bundles was sufficient to trigger. Sometimes I get it in the first run.

See the "fatal error: concurrent map writes" snippet below.

[code]

and the offending goroutine:

[code]

Full trace:

[code]

[2018-06-14 07:19] bktan8 opened #349 ""swupd verify --fix --picky -m X -C /usr/share/clear/update-ca/Swupd_Root.pem" fails when /usr/share/default/swupd/mixed exists"
After migrating to a local mix, /usr/share/defaults/swupd/mixed file is created.
this prevents "swupd verify --fix --picky -m X -C /usr/share/clear/update-ca/Swupd_Root.pem" from working.  After removing "mixed", it works.

Example:
clear@clearos ~ $ sudo -E swupd verify --fix --picky -m 23000 -C /usr/share/clear/update-ca/Swupd_Root.pem
Verifying version 23000
Warning: Removing corrupt Manifest.M

[2018-06-14 15:44] matthewrsj commented on #349
We need to just move all mixin/mixer state under /var and provide a top-level migrate-back command in swupd-client that removes it.

[2018-06-14 16:25] matthewrsj opened #351 "Report error better when failing to process a source RPM"
People keep adding SRPMs to their mix and mixer doesn't fail until the update creation stage. We should fail earlier and clearer.

[2018-06-15 06:47] phmccarty opened #352 "Add --skip-packs option for 'build update'"
For local testing purposes, I would like to run `sudo mixer build update` without the zero packs being created, since I won't be consuming them. Maybe a `--skip-packs` option could be added?

[2018-06-15 16:33] matthewrsj commented on #349
This is a swupd issue. Migrating there.

[2018-06-15 16:33] #349 closed

[2018-06-16 03:28] matthewrsj commented on #348
What do you mean by this? Running it until completion then immediately running it again or running it concurrently with itself in the same directory?

[2018-06-16 03:29] matthewrsj commented on #337
This was fixed by @rchiossi in #338

[2018-06-16 03:29] #337 closed

[2018-06-16 03:32] matthewrsj commented on #340
This seems related to #347?

[2018-06-16 05:43] cmarcelo commented on #348
Run and wait completion. Then run again the same command.

I’ve cleared the whole directory and restarted with init a few times to make sure.

[2018-06-18 05:13] phmccarty commented on #352
Sure, I am okay with having `--skip-fullfiles` as well.

[2018-06-18 20:51] bktan8 commented on #340
Looks like the same.  I'll close this one.

[2018-06-18 20:51] #340 closed

[2018-06-20 00:31] #347 closed

[2018-06-20 17:16] #345 closed

[2018-06-22 17:27] matthewrsj opened #358 "proposal: iterative manifests"
https://github.com/clearlinux/swupd-client/issues/498 for discussion. Opening here as well since much of the work has to be done mixer-side.

[2018-06-25 18:50] #241 closed

[2018-06-29 00:31] phmccarty commented on #352
This was implemented with #355

[2018-06-29 00:31] #352 closed

[2018-06-29 00:32] phmccarty commented on #351
@tmarcu Did #357 address this issue?

[2018-06-29 02:59] matthewrsj commented on #351
Yes

[2018-06-29 02:59] #351 closed

[2018-07-02 16:17] tmarcu commented on #203
Merged and awaiting next major release to enable by default.

[2018-07-02 16:17] #203 closed

[2018-07-02 16:20] tmarcu commented on #59
Merged but awaiting major release for default usage.

[2018-07-02 16:20] #59 closed

[2018-07-02 16:23] tmarcu commented on #96
Closing and will update documentation on proper workflow as needed.

[2018-07-02 16:23] #96 closed

[2018-07-02 16:30] tmarcu commented on #122
@icarus-sparry @cmarcelo can you please describe this a bit more, do you suggest chaning MANIFEST: to FORMAT: ? Or adding more fields? I'm closing irrelevant issues and trying to add more detail for ones we can complete in Q3.

[2018-07-02 16:30] #124 closed

[2018-07-02 16:31] tmarcu commented on #127
N/A

[2018-07-02 16:31] #127 closed

[2018-07-02 16:39] #133 closed

[2018-07-02 18:36] tmarcu commented on #238
Attempting to do this with an empty directory works as expected with no output. This should not silently continue on missing dir because there's no context as to why it's not there, yet defined in the conf.

[2018-07-02 18:36] #238 closed

[2018-07-02 18:40] matthewrsj commented on #251
That's probably a good idea.

[2018-07-02 23:45] icarus-sparry commented on #122
The basic suggestion is that the header of a MANIFEST should look something like
[code]

then we have a blank line, and then we have 4 tab delimited fields per line. If we decide to add the size of the compressed file and the size of the uncompressed file to avoid the DOS that we are currently vulnerable to, then the `fields` line would become `fields: flags dsize size hash version filename".

Par

[2018-07-03 00:16] bktan8 opened #365 "An invalid bundle name is still added to an image during "mixer build image""
Even though the warning message says an invalid bundle is being skipped, the bundle name still shows up when you do "swupd bundle-list" for the created image.

Example:
clear@clr-da50329d227d4062bb2170a8b8162bd2 ~/mixer $ sudo -E mixer build image
Password:
Reading configuration
Validating configuration
Creating virtual disk
Creating partitions
Mapping loop device
Creating file systems
Setting up

[2018-07-03 03:49] matthewrsj commented on #122
That's a good idea

[2018-07-09 22:39] phmccarty opened #366 "Add zstd compression support"
Currently, fullfile creation supports gzip, bzip2, and xz compression types. It would be nice to add zstd support, since it tends to produce smaller files in general and decompression speed is excellent. It would worth seeing how well zstd compresses packs too; zstd might be nice replacement (or a configurable replacement) for xz when compressing packs.

[2018-07-09 22:40] matthewrsj commented on #366
Can't do that until swupd-client supports it, and right now swupd-client can't support it until libarchive makes a new release with zstd support.

[2018-07-11 17:33] tmarcu commented on #195
@cmarcelo can you clarify if this is still relevant?

[2018-07-11 17:41] tmarcu commented on #252
N/A

[2018-07-11 17:41] #252 closed

[2018-07-11 17:43] tmarcu commented on #264
@bwarden can you clarify on this issue some more? CBM handles all the kernel stuff so things have to be put in specific places.

[2018-07-11 17:44] tmarcu commented on #270
Mixer allows more fine grained configuration of it's variables now.

[2018-07-11 17:44] #270 closed

[2018-07-11 17:44] bwarden commented on #264
This is no longer needed as I've moved the relevant content under /usr/lib/modules.

[2018-07-11 17:44] #264 closed

[2018-07-11 17:46] tmarcu commented on #271
We will add this to mixer init, since format is automatically handled in all other bump cases.

[2018-07-11 17:48] tmarcu commented on #275
Sure!

[2018-07-11 17:51] tmarcu commented on #282
@bktan8 you mean specifically just updating your mix version offline yes? Otherwise the upstreamversion option MUST use network because it's changing the base.

[2018-07-11 17:54] tmarcu commented on #283
Closing as the propose solution is working.

[2018-07-11 17:54] #283 closed

[2018-07-11 17:55] tmarcu commented on #291
N/A, no reply.

[2018-07-11 17:55] #291 closed

[2018-07-11 17:56] tmarcu commented on #310
Implemented and released.

[2018-07-11 17:56] #310 closed

[2018-07-11 18:01] tmarcu commented on #323
Needs better error message, I'm not sure I would want to run init without the user wanting to actually call init.

[2018-07-11 18:03] cmarcelo commented on #195
Sure. When we create tar files, the library expects to know what metadata to put in (the tar.Header).

Right now the header is created using a helper function from archive/tar that grabs as much as information as possible from file in the disk. The issue is that it might get metadata we don't care about (e.g. AccessTime) and generate unnecessarily different tar files.

The original suggestion was

[2018-07-11 18:04] tmarcu commented on #325
Need to implement step 13 as a `swupd rollback `option, which also calls swupd clean --all to make sure we have a good state to go forward with.

[2018-07-11 18:05] bktan8 commented on #275
awesome!

[2018-07-11 18:09] cmarcelo commented on #252
What does "N/A" mean?

[2018-07-11 18:10] phmccarty commented on #252
"not applicable" usually

[2018-07-11 18:20] bktan8 commented on #282
@tmarcu - Yes, i'd like ability to increment my mix version without requiring a connection to upstream Clear.

[2018-07-11 18:44] bktan8 commented on #325
@tmarcu - maybe instead of using "rollback" we could use "--clear-cache" because user may "roll forward".

[2018-07-12 18:25] bktan8 opened #367 "mixin: Wrong version number used to build updated mix when migrating"
Scenario: My upstream version is 23650.  I created a mix 2365000.  Then I migrate.  The latest upstream version is 23680.   During the migrate, (according to design) it's supposed to recreate a mix using the latest , but it's using the initial upstream version + 10.  A little confusing...

here's the message:
**Creating bundles for version 23650010 based on Clear Linux 23680**

Here's the log:

cl

[2018-07-26 16:17] matthewrsj opened #374 "swupd: deletes must persist over full minversions"
When creating manifests for a full minversion, with the minversion set to the current version being built, deletes must persist in the new manifests. The only time old deletes should be cleaned up is when building in a new format.

The following test currently fails.

[code]

[2018-07-26 18:37] matthewrsj commented on #374
Fixed by #375

[2018-07-26 18:37] #374 closed

[2018-07-26 19:46] gtkramer opened #376 "Add a --no-clean option for build bundles"
Such an option would be useful to allow users to mount a block device with ister in the full image/chroot directory mixer makes during the build bundles operation.  This can be used to allow users to prototype bootable images very quickly if many need prototyped at once because it avoids needing to copy the full image/chroot into a block device and then remove it after the block device is unmounte

[2018-07-26 19:47] matthewrsj commented on #376
But the full chroot sticks around. What are you asking not to clean?

[2018-07-26 19:49] gtkramer opened #377 "Add exclude-pkgs option action to repo command"
For prototyping environments, want to mimic the behavior of koji where if one package updates, it substitutes the existing package (and all of its sub packages).  This allows a proper integration to take place.  This is a dnf config option that can be added per-repo.  Such a CLI may look like:

mixer repo exclude-pkgs clear <pkg list, separated by space or comma>

Really only useful after a user h

[2018-07-27 00:47] tmarcu opened #378 "Mixer still checks online when --offline is passed to build bundles"
Don't check online when --offline is passed...

[2018-07-27 00:48] tmarcu opened #379 "Mixer.state is overwritten if it already exists"
We need to do an os.Stat() and never overwrite the file if it already exists.

[2018-07-27 00:51] tmarcu commented on #376
@matthewrsj when build bundles is called, it wipes update/image/VER no matter what. His use case is specific to some custom testing to already have image/VER/full created, and mount the image to full, so mixer automatically populates the VM filesystem as part of the build. Saves some time copying into the image after building & don't have to wipe /full after to save space from having it in 2 place

[2018-07-27 01:04] icarus-sparry commented on #379
No, never do it this way. Instead give the correct flags to open so the open fails if the file already exists. This avoids a race condition.

Probably something like

     f, err := os.OpenFile("Mixer.state", os.O_EXCL | os.O_CREATE | os.O_WRONLY, 0644)

[2018-07-27 16:51] rchiossi commented on #379
This file is meant to be overwriten over and over. It is a state file afteral! But I assume you meant overwriten on initialization, which indeed should never happen.

The current code looks just like what @icarus-sparry suggested:
[code]

The issue is probably somewhere else then,

@tmarcu Do you have more details on which scenario is it being overwritten?

[2018-07-27 17:17] tmarcu commented on #379
@rchiossi sorry I was not detailed enough, just read my mind next time x)
Yes - the case is the file is being overwritten during` mixer init `(bad), and also overwritten during `mixer bundle add` (double bad). So it had to be re-set manually before calling build bundles otherwise it would keep trying to pull the latest from builder.conf (or in this case, the system since builder.conf did not have

[2018-07-27 17:18] tmarcu commented on #379
The scenario here is we already have a mixer.state file with FORMAT = 1, but it kept overwriting it with format 25 because that's what the system was on, even though the state file existed.

[2018-07-27 17:55] rchiossi commented on #379
I never expected mixer init to be called on a directory with a state file... It the state file exists, then this directory should already be an initialized mix.
I just tested with bundle add and it gave me a warning but did not overwrite the file. The warning shouldn't be there, so I'll take a look into it.

[2018-07-27 18:39] gtkramer commented on #376
Saves time and disk I/O when I already have a guarantee of a clean environment.  It's more of an advanced usage option only for folks who know what they are doing.

[2018-07-27 23:54] tmarcu commented on #379
Closing as calling init multiple times should technically re-init the workspace as it currently is. Bundle add is not the culprit of this behaviour.

[2018-07-27 23:54] #379 closed

[2018-07-30 10:14] shrmrf opened #382 "mixer runs in docker container?"
Hi!

I've been using the `mixer` tooling without problem for some days. Today I ran `sudo swupd update` and I got a new version of mixer: `Mixer 5.0.1`

This really doesn't work. Whatever was building before now doesn't as this command tries to run mixer inside of a docker container. Is this the new default behavior? Is there some way to override this and have the same behavior as `Mixer 4.7.0`? I

[2018-07-30 15:30] rchiossi commented on #382
You can use the - -native flag to run outside the container, but be aware that you may stumble on compatibility issues (e.g. When crossing format boundaries)

[2018-07-30 17:08] shrmrf commented on #382
Hey, thanks @rchiossi ... How is the `clr-sdk` docker container going to be affected by it?

Can the `--native` config be changed so it's the default? Also, [`docker` isn't part of the `os-clr-on-clr` bundle](https://github.com/clearlinux/clr-bundles/blob/master/bundles/os-clr-on-clr) it seems... Furthermore, if you have a proxy, `docker` doesn't work out of the box (we need to do some configurati

[2018-07-30 18:24] kevincwells commented on #382
As far as the bundle dependencies not being present, I thought `docker` would have been added to the `mixer` bundle prior to this release. Sorry about that! I know it is in the backlog of tasks and will be updated soon.

[2018-07-30 19:00] shrmrf commented on #382
Hey @kevincwells thanks for the detailed response. And I agree that it all makes a lot of sense now!!

- I was (as I alluded,) trying to run this inside [a Virtualbox VM (using `vagrant`)](https://github.com/AntonioMeireles/ClearLinux-packer).

- I would like to point out again that `docker.service` isn't started if you install the `containers-basic`. And behind corporate proxies (like the ones yo

[2018-07-30 19:19] rchiossi commented on #382
@shrmrf Doesn't `--native` show up when you run `mixer build --help` ? I'm pretty sure it's been in there for a while now. This flag was not part of the 5.0 release.

[2018-07-30 19:57] shrmrf commented on #382
@rchiossi maybe it does... I might have overlooked, sorry.

[2018-07-30 21:11] mpurzynski opened #383 "Generic docker errors after upgrading to mixer 5.0.1"
This is a blocker for me, I cannot build custom mixes anymore.

I'm trying to rebuild my mix

# mixer build all

Warning: Using Format=1 from mixer.state for this build.
Running command in container: "mixer build all"
**docker: invalid reference format.**
See 'docker run --help'.
ERROR: Failed to run command in container: failed to execute docker run -i --network=host --rm --workdir /home/clr/mix

[2018-07-30 21:28] shrmrf commented on #383
@mpurzynski welcome to my world :) as discussed in https://github.com/clearlinux/mixer-tools/issues/382

What I've settled at doing for now (in my current state) is to force the version of Clear Linux (with the version of `mixer` I'm happy with)...

[code]

[2018-07-30 21:30] rchiossi commented on #383
I can reproduce on my end, I'm looking into this issue.

[2018-07-30 22:02] kevincwells commented on #383
@mpurzynski -- I can definitely understand why you'd interpret that as a erroneous space between `mix` and `:25`. What's actually going on is the code concatenates the value of `DOCKER_IMAGE_PATH` (from the config) with the correct format version tag -- that _should_ be reporting "`clearlinux/mixer:25`" for you. Apparently the default value for `DOCKER_IMAGE_PATH` in the config got messed up in th

[2018-07-30 22:02] rchiossi commented on #383
The issue is a missing thefault value when you initialize a new mix. For existing mixes, the fix is simple: Open builder.conf and change `DOCKER_IMAGE_PATH = ""` to `DOCKER_IMAGE_PATH = "clearlinux/mixer`

I'm writing a patch to fix the default initialization.

[2018-07-30 22:07] rchiossi commented on #383
Hmm, there is more to it than I expected. I suggest running with `--native` until next minor release. I'll update this issue when the PRs get integrated.

[2018-07-30 22:14] mpurzynski commented on #383
There must be something more to it, indeed. I tried setting the docker image path to clearlinux/mixer and that image got fetched correctly

Warning: Using Format=1 from mixer.state for this build.
Running command in container: "mixer build all"
Unable to find image 'clearlinux/mixer:25' locally
25: Pulling from clearlinux/mixer
a496bbd67f46: Pull complete
afb45c7a782d: Pull complete
Digest: sha256

[2018-07-30 22:16] rchiossi commented on #383
Yeah. For some reason our docker image didn't get updated. It is still running an older version of mixer that does not understand either the TOML config or the new mixer.state. We are looking into it.

[2018-07-30 22:32] shrmrf commented on #383
I can also replicate the issue @mpurzynski stated at the top...

I'm going `--native` (or older version) for now... Is this the issue that I should track for an update on the fix?

[2018-07-30 23:02] kevincwells commented on #383
@shrmrf  Yeah, we'll post here when it's updated. I just built a new container, and @rchiossi is validating it now, so it shouldn't be long. (Assuming that that does indeed fix it, anyhow)

[2018-07-30 23:28] mpurzynski commented on #383
Warning: Using Format=1 from mixer.state for this build.
Running command in container: "mixer build all"

(cool, looks like the new image has a correct version of mixer)

A new version of my mix has built without any issues. Thanks!

[2018-07-30 23:45] kevincwells commented on #378
Unless it's changed since I introduced it, `--offline` only prevents mixer from pulling upstream bundle definitions. It's a short-circuit early return in the fetch function. What other network calls is mixer making that you're trying to prevent?

[2018-07-31 05:47] shrmrf commented on #383
congrats @mpurzynski I'm on my way to the office where I'll check the new version out.

[2018-07-31 07:44] rchiossi commented on #383
@shrmrf Did you try setting up the docker daemon to use a https proxy?(https://docs.docker.com/config/daemon/systemd/#httphttps-proxy)

Let me know if it solves the issue.

This seems to be very setup specific and I'd rather keep it tied to docker setup than to mixer use. That being said, I'm thinking about things that could be done to make the user life easier when they stumble on that issue (lik

[2018-07-31 08:29] shrmrf commented on #383
@rchiossi yup. I had already configured the docker daemon to use http/https proxies. These are proxies for the docker daemon and are not passed down _into_ the containers.

No, I think it's definitely not setup specific. We have to be able to pass the `--env HTTP_PROXY=$http_proxy` somehow.. It probably can be done safely and silently within the `mixer` command.

Or, what would you suggest is the

[2018-07-31 13:49] rchiossi commented on #383
@shrmrf  You are right. I expected docker daemon to pass down the proxy config to the clients, but it seems the way to go on current docker version is to add it to config.json. We can also use the old way like you mentioned by setting `--env HTTPS_PROXY=...`, but both cases will need to be set to user defined values which is what I wanted to avoid.
Adding an option to pass the proxy during `mixer

[2018-07-31 13:56] shrmrf commented on #383
@rchiossi I think propagating both `http_proxy` and `https_proxy` (non-case sensitive) silently is a good option to explore. Not be very Golang but rather Ruby-ish.

[2018-07-31 16:58] tmarcu commented on #383
Proxy environments are too ephemeral & user specific, I don't think it's a good idea to hardcode passing them in TBH, and especially not silently. Using an autoproxy discovery setup removes the need to define any environment variables & mixer runs with no problems, see -> redsocks or pacdiscovery which we provide in Clear.

[2018-07-31 17:17] shrmrf commented on #383
@tmarcu can you elaborate further on why you think they're "too ephemeral and user specific"?

I don't see what a possible disadvantage of passing them through is? If they're not defined, they don't have any affect and if they _are,_ they're passed without the user having to be explicit.

[2018-07-31 17:37] #382 closed

[2018-07-31 17:40] tmarcu commented on #383
@shrmrf I'm happy to review and discuss PRs submitted to mixer from anyone :slightly_smiling_face:
Are you still running this in a clr-sdk container?

[2018-07-31 17:47] shrmrf commented on #383
@tmarcu sure!! I'll see if I can submit a PR tomorrow..

No, I'm running [Clearlinux inside a Virtualbox VM](https://github.com/AntonioMeireles/ClearLinux-packer) at the moment but the goal is to use the `clr-sdk` (or a modified/fixed version of it) again. I guess `--native` is my best bet.

Our IT only supports Ubuntu 16.04 (custom proxy, custom dns) at the moment. I've fixed Mixer's version to `

[2018-07-31 17:52] kevincwells commented on #383
@rchiossi the proxy configurations in Docker's `config.json` file exclusively deal with the daemon's network interactions, like its connections to registries for pulling images; it does not impact the networking configuration of containers themselves. The `--env` option to `docker run` sets the _container's_ environment.

I too am opposed to the idea of trying to silently, automatically infer the

[2018-07-31 18:02] shrmrf commented on #383
I can't agree more with what you wrote here @kevincwells .. This does pose a security risk!!

I guess it's `--native` at least for now then.

[2018-07-31 18:06] shrmrf commented on #383
BTW, where can I find the Dockerfile for the `clearlinux/mixer:25` container?

[2018-07-31 20:52] rchiossi commented on #383
@kevincwells I was not referring to the daemon config, I was referring to the client config as desbribes here: https://docs.docker.com/network/proxy/

[2018-07-31 20:57] rchiossi commented on #383
@shrmrf btw, can you test setting your client proxy in the config as mentioned in method 1 in the link above and check if it works?

[2018-07-31 21:14] shrmrf commented on #383
@rchiossi thanks!! I hadn't realized there was a way to pass proxy variables by _default_ into containers when you run them. I'll check it out tomorrow at work and let you know.

Thanks again guys!!! 🙌

[2018-07-31 22:48] tmarcu commented on #383
@shrmrf we're actually in the process of having these specific mixer containers become part of regular release artifacts (vs. us manually making & pushing them up), and putting the necessary bits in place right now. I'll send you the information once it's setup on our side

[2018-08-01 07:34] shrmrf commented on #383
@tmarcu and team, thanks for all the help.

I just checked and the `mixer` command works well for me after adding `clearlinux/mixer` as mentioned by @kevincwells (https://github.com/clearlinux/mixer-tools/issues/383#issuecomment-409026649)

Thanks all!!

[2018-08-02 07:46] shrmrf commented on #383
I see the `DOCKER_IMAGE_PATH` configuration has been populated in `builder.conf` in the latest release (`24120`)!!

Cool.

[2018-08-02 21:28] tmarcu commented on #383
Since it's in the wild now with that release, will close this issue. Please re-open or set new ones up with any issues that follow from this if you still get any problems!

[2018-08-02 21:28] #383 closed

[2018-08-02 21:58] phmccarty opened #386 "mixer init --offline returns an error"
I want to use mixer with local bundles only, so I tried running `mixer init --offline`, but it returned an error:

[code]

[2018-08-02 21:59] phmccarty commented on #386
This is starting from a clean workspace, by the way.

[2018-08-02 22:02] phmccarty commented on #386
@matthewrsj just suggested that I try `mixer init --offline --no-default-bundles`, and that worked. Maybe `--no-default-bundles` should be an implied setting in this case?

[2018-08-02 22:13] phmccarty opened #387 "feature request: add config option for global offline setting"
In case I never want mixer to download clr-bundles, it would be convenient to have a global offline setting (say in the builder.conf) so that I don't have to pass `--offline` for every mixer command.

[2018-08-02 23:45] tmarcu commented on #386
I agree it should be implied on that setting, but in all other cases it doesn't make sense to try to init a workspace offline since it relies on bundles being available :P will update this ty!

[2018-08-02 23:46] tmarcu commented on #387
Hmm interesting idea, @rchiossi do you think this should go into the builder.conf or state? Seems like a stateful item that just may not change often, so mixer.state might be best.

[2018-08-03 00:56] rchiossi commented on #387
This seems to me like a builder.conf option. This is an option that won't change based on the result of mixer actions, only based on user input.
@phmccarty for your use case, would you set this option for running a single mixer command or to operate in offline mode for a while (run multiple commands)?

[2018-08-03 01:16] phmccarty commented on #387
@rchiossi I am running several mixer commands, all of which should operate in the offline mode.

[2018-08-03 03:08] rchiossi commented on #387
@phmccarty and for that particular mix, do you plan on altering between online and offline or keep it always offline?

[2018-08-03 15:13] matthewrsj commented on #387
This particular mix should *always* be offline only. Another use-case that is always offline is the Clear Linux devops flow.

[2018-08-03 17:39] kevincwells commented on #383
Oh wow, you can do that now? Thanks for pointing me to that!!!

[2018-08-03 17:40] rchiossi commented on #387
Hmm... Then it is a matter of choosing:
A) We want to have offline mixes
Or
B) We wanna put mixer in offline mode

If we are looking for option A, then builder.conf is the way to go. If we want option B, then mixer.state would be better. Note that option B assumes seamless transition between modes. That is not necessarily true for option A.

[2018-08-03 18:01] tmarcu opened #388 "Mixer creates mixer.state file when it shouldn't"
Just running `mixer` will automatically create a mixer.state file in the running directory.

[2018-08-03 19:01] rchiossi commented on #388
Do we want to support custom path for mixer state or do we use the same path as builder.conf?
The original design assumed the directory where mixer runs should hold the state file, but it doesn't work if you have multiple mixes but always run the binary from the same directory.
I believe using the same directory as the config is the best option.
(PS: I will only be able to change this once I'm bac

[2018-08-03 19:20] tmarcu commented on #388
This is my idea too. Right now there's people using mixer and storing their builder.conf in a different directory. @rchiossi np :) Just didn't want to forget about this, it's more of a low hanging bug I noticed.

[2018-08-06 17:03] tmarcu opened #391 "Breakup builder.go & friends"
The builder.go file has become a catch-all for a lot of functionality, which it doesn't necessarily need to encompass. It's ballooned to over 2300 lines of code which is not all related to building the mix itself.

TODO:
- Remove all parts that are not part of building bundles/update output into its own file to improve readability.

[2018-08-07 18:58] tmarcu commented on #377
I think this should be handled by case-by-case basis and just manually updated in the dnf conf if it has to persist. Another option would be to possibly pass it to the internal dnf call in mixer as --exclude=<list of packages entered on command line>

so your mixer calls would then look like

mixer build bundles --exclude=pkg1 pkg2 pkg3...pkgN

But idk if this is persistent it'd be easier to just

[2018-08-09 23:09] #376 closed

[2018-08-13 18:26] tmarcu commented on #366
Zstd has been added to delta pack creation; should we consider adding it to the rest in the near future?

[2018-08-13 19:19] phmccarty opened #399 "Add ability to choose compression types for swupd artifacts"
The compression types mixer uses to compress swupd artifacts (i.e. fullfiles, packs, and manifests) have fixed defaults in the code. To override the fixed defaults, I would like the compression types to be configurable on the command line, in the conf file, or both.

Some ideas for the command-line options and how the values are interpreted:

###  Example 1
[code]
- build swupd update content as n

[2018-08-13 22:11] tmarcu commented on #377
merged in 5.1.0

[2018-08-13 22:11] #377 closed

[2018-08-14 02:51] aenertia opened #400 "Only docker runc runtime is supported due to use of --host networking; phy device removed with kata or cc-runtime"
doing a simple swupd-add-pkg will cause the NIC interface to be removed from the host OS if using a runtime other than runc (as is the case with the default containers bundle or kata).

This makes the mixer not only un-usable but dangerous to use when using it in combination with any of the above as a PCI VFIO mask is applied during a normal run i.e

swupd-add-pkg linux-firmware will result in an

[2018-08-14 22:11] tmarcu commented on #400
swupd-add-pkg is deprecated, please see the `mixin` binary that is now provided with mixer.

[2018-08-14 22:28] rchiossi commented on #400
@aenertia  It would also be helpful to have a full description of the commands you are running so we can try to reproduce it on our side.

[2018-08-14 22:36] tmarcu commented on #400
@aenertia `swupd-add-pkg` is still calling mixer directly (it should have been removed from the swupd-client package...), which by default runs in a container as of version 5.0.0+. The `mixin` binary calls the mixer API internally and *does* run natively by default, so you should not see any container errors with mixin.
However, this still outlines an issue that mixer is not compatible with the ka

[2018-08-15 17:19] matthewrsj commented on #400
Yeah I'll remove swupd-add-pkg from swupd-client...

[2018-08-15 18:51] aenertia commented on #400
Not just kata but container-c also.
It's due to the chain of events which relate to how -host networking is
attempted with container-c or kata runtimes which result in an attempt to
do a device passthrough of the NIC. Easiest to just install the container
bundle of a fresh baremetal install and see for yourself  - that box is now
doing $stuff and I'm not about to start dropping NIC to reproduce ;0

[2018-08-15 19:10] tmarcu commented on #400
I'm not sure this is mixer related tbh, I can't imagine why running a mixer container specifically would remove your *host* NIC... did you open an issue with kata? I can poke the right people otherwise to investigate this more...

[2018-08-15 19:17] egernst commented on #400
kata-runtime should not be used with host networking.  This is a known limitation on Kata, and we recently introduced a patch to error out gracefully, rather than try to make it work.  See
https://github.com/kata-containers/runtime/issues/499

[2018-08-15 19:30] aenertia commented on #400
Yes I am well aware of Kata limitations right now; I just wasn't expecting
to hit this when doing a trivial add of a package.

On 16 August 2018 at 07:17, Eric Ernst <notifications@github.com> wrote:

[2018-08-15 19:33] aenertia commented on #400
As an introduction to the distro it was pretty jarring.

On 16 August 2018 at 07:29, Joel Wirāmu Pauling <aenertia@aenertia.net>
wrote:

[2018-08-15 19:34] egernst commented on #400
Yeah, I think the reason you hit it is because Kata is set as the default, and we don't error out very nicely in the release that's included in Clear Linux.  Any program which expects to just work with a container with host access will fall over nicely right now.  We're talking through right now what the best way to set this up is (either have mixins specifically request runc, or to have the defau

[2018-08-15 20:04] tmarcu commented on #400
@aenertia What you are doing is **_not_** a trivial process. The `swupd-add-pkg `(now `mixin`) enables a very specific use case of adding content that is not provided by upstream to your official image without forking you off the update stream.
The OS is tied to a specific upstream which does a multitude of things during an update or content add, which includes security verification and hash check

[2018-08-15 20:14] aenertia commented on #400
I am still flumoxed that the included openvswitch does NOT include dpdk
(after figuring out how to pull spec files of the included version I
discovered there were dpdk config options, but gave up as figuring out how
to rebuild and specify that in the spec was at the end of a long struggle
with the out of date guides/docs) - which was the motivation here. I gave
up and reverted to a custom openwrt

[2018-08-16 16:38] matthewrsj commented on #348
A race certainly exists
[code]

[2018-08-16 19:36] matthewrsj commented on #348
Fixed by #403

[2018-08-16 19:36] #348 closed

[2018-08-17 15:57] bktan8 opened #404 "mixin: collisions occur during first migrate, but ok on 2nd attempt to migrate"
**STEPS TO REPRO:**
[code]

[2018-08-17 16:33] tmarcu commented on #404
Hmm this is wrong on another aspect as well, if there's a new clear version the mixversion should be bumped to the new upstream version * 1000, so it should have been building 24480000, not 23650010. @matthewrsj known problem?

I'll look into the collisions, I suspect they're coming because there's builds between what you made your first mix for and new upstream.

[2018-08-17 16:42] matthewrsj commented on #404
@tmarcu https://github.com/clearlinux/mixer-tools/issues/367

[2018-08-17 18:00] matthewrsj commented on #404
Edited original report to snip out irrelevant parts and long output.

[2018-08-17 19:47] tripzero opened #405 "mixer build chroots --clean doesn't work without --native"
Seems like the version of mixer in the docker container clearlinux/mixer doesn't have the --clean option.

[2018-08-21 09:03] tmarcu commented on #400
Fixed by 26fe8cec9313f5daa6b339276aef019b5a1f9053

[2018-08-21 09:03] #400 closed

[2018-08-21 09:04] tmarcu commented on #405
@tripzero thanks for the poke, you're right. This will be updated tomorrow.

[2018-08-21 09:18] tmarcu commented on #158
Mixer runs in container by default not requiring root.

[2018-08-21 09:18] #158 closed

[2018-08-22 22:34] tmarcu commented on #54
@rchiossi close this ?

[2018-08-22 23:39] rchiossi commented on #54
Yep. Closing.

[2018-08-22 23:39] #54 closed

[2018-08-23 00:03] anselmolsm commented on #252
Why N/A?

[2018-08-24 10:00] rchiossi commented on #271
Implemented in #381

[2018-08-24 10:00] #271 closed

[2018-08-24 16:02] rchiossi commented on #252
@anselmolsm is a scary guy, so I patched it! :)

[2018-08-24 17:57] anselmolsm commented on #252
@rchiossi haha :P

[2018-08-28 22:13] ahkok opened #412 "bundle content silently entirely dropped if no bundle headers present"
If I create a bundle file without headers, the content of the bundle is entirely dropped without as much as a warning or error.

This should be an error instead. Even a warning is silly, because the end result is that all the files from the bundle are silently omitted from the build.

Attempting to fix the bundle results in the bundle STILL not getting a manifest, either. Somehow mixer things "not

[2018-08-28 23:37] cmarcelo opened #413 "Feature: mixer build docker-image"
Same way Clear Linux has docker containers, enable mixes to have those.

```mixer build docker-image``` would add a docker image to the local (host) docker created from the mix at the current version. Or maybe a tarball that can be imported directly (in case that is a better way to do it), but suitable for containers.

See also: the internal script used to create docker images as part of Clear Lin

[2018-08-30 16:07] rchiossi commented on #412
Patch #417 solves the problem with mixer not reporting the error. I'll close this issue once it gets merged.
For the problem with %ghost files in the RPM, we will keep track on #416 .

[2018-08-30 20:04] tmarcu commented on #412
Hmm I don't think this is related to 417 or 416 which are RPM issues, can we update the description @ahkok ?

[2018-08-30 20:28] tmarcu commented on #412
@ahkok are you using mixer bundle <cmd> to do this stuff?

[2018-08-30 20:30] tmarcu commented on #413
I want to re-visit what mixer provides in terms of image creation service. It may be more useful to have a separate image creator that handles building images of all types, rather than just having mixer shell out to ister and other things IMO.

[2018-09-01 00:12] reaganlo commented on #113
@tmarcu @phmccarty
Based on the Issue desc and 'man os-release', these are the changes that I recommend. Please let me know.

For a clear linux mix, the os-release file should be updated as follows:
- NAME=_"\<builder.conf ==>swupd ==> NAME>"_
E.g. **NAME="Clear Linux Mix"**
This value will be read from a new builder.conf [swupd] field called NAME and can be edited by the user.
- ID=_\<based on ab

[2018-09-05 20:28] ahkok opened #423 "Mixer doesn't support autoproxy."
You could exec `curl` to get proper autoproxy support for downloads. Or use a curl binding.

[2018-09-05 21:32] ahkok commented on #423
https://github.com/andelf/go-curl

[2018-09-05 21:39] rchiossi commented on #423
I'll take a look at it, but I'd like to try to avoid yet another dep if possible.

Does the other tools shipped with clear (e.g. swupd) have support to it? Since this seems to be exclusive to libcurl, does this imply that all our projects must use it?

[2018-09-05 21:56] cmarcelo commented on #423
There is a dbus interface exposed by the proxy related daemons. Applications using "libproxy" can benefit from it directly. Our libcurl was patched to take advantage of it.

I had some old code from last year to do the DBus call, might be useful. It does pull a dbus library as a dependency. I prefer this approach than the libcurl binding as it is likely a less intrusive change.

[code]

[2018-09-06 00:14] reaganlo opened #424 "User defined OS Name for a mix"
Provide an option for the user to define an OS Name for the mix. e.g It could be a [swupd] field called OS_NAME in builder.conf with the default value as "Clear Linux Mix".

When the mix is created, this value should get written to the "NAME" field in the os-release file.

[2018-09-06 15:47] tmarcu commented on #423
It supports autoproxy on my system and others... more info please.

[2018-09-06 15:50] tmarcu commented on #412
@ahkok bump pls

[2018-09-06 16:50] ahkok commented on #423
It doesn't.  It's easy to prove that it doesn't, either.

Steps to reproduce:

1) open terminal and type `sudo busctl monitor | grep org.pacrunner.client`

Note that you'll see messages here when the autoproxy is called for each address

2) open a second terminal and disable all manual proxy settings
[code]

Then, use e.g. `curl` to show autoproxy is functional:

[code]

In terminal 1, you'll see

[2018-09-06 17:19] tmarcu commented on #423
I appreciate the lengthy response :+1:
If I understand, it takes
1.) Manually removing all your proxy settings
2.) Stopping a working auto proxy solution
to make it fail - using another, specific auto proxy implementation that is specifically catered to only working with **curl** calls.
That's purposely removing 2 (IMHO better) solutions to get this to fail, and that is not a good reason to manual

[2018-09-06 17:38] ahkok commented on #423
No, I didn't remove any working autoproxy in my replication case.

All I did was replicate a properly new installed clearlinux system where autoproxy is working, and where mixer isn't capable of talking to it. This means that I am making sure to disable redsocks and manually set environment variables which can make golang programs appear to function with autoproxy, but are actually bypassing the a

[2018-09-06 17:40] ahkok commented on #423
I have no issues with additional ways to manually support proxies.

But all our development tools must be able to work with autoproxy, and they don't. We've patched autospec before to use pycurl, for instance (I did so myself). Now it's time for mixer to do this. People, and customers, are expecting this to work.

[2018-09-06 17:44] ahkok commented on #412
It's slightly mislabelled, and this is fixed. Let's just close it.

[2018-09-06 17:44] #412 closed

[2018-09-06 17:50] tmarcu commented on #423
**Specifically people with weird internally proxied network setups** who are running only pacrunner & no environment proxies would experience this.
Again, the only reason curl works (_in Clear_) is because curl is hot patched to talk to pacrunner... I'm not arguing that it's broken with only pacrunner running.
There are already 2 other options to get past this issue, so I am not willing to change

[2018-09-06 17:51] cmarcelo commented on #423
Note that code snippet I've posted falls back to previous methods if it can't find / use the autoproxy.

Note you can also call the "proxy" utility that will talk dbus for you. Not sure is a real win, though.

[2018-09-06 18:30] phmccarty commented on #423
@tmarcu At present, in order for mixer to work behind a proxy, one must carry out one of these steps manually:

- set proxy environment variables
- enable a non-default autoproxy, like redsocks

I think the point of this bug report is that mixer does not work with the default Clear Linux autoproxy services (pacrunner/pacdiscovery), and this leads to a less-than-optimal user experience. The motivat

[2018-09-06 23:39] tmarcu commented on #423
@phmccarty I agree we have a hacky & limited default implementation, and as I said I agree it's an issue, but I don't agree with the suggested fix. It's an ugly band-aid solution.

After testing, setting the proxy URL inside ~/.docker/config.json per the docker documentation automagically passes proxies inside the container. As it stands, the only way for that to be accomplished **_100%_** automat

[2018-09-07 00:07] cmarcelo commented on #423
The issue reports the problem running `mixer init` that happens outside a container, so I don't expect Docker to be involved.

automagically passes proxies inside the container.

One downside is people going in and out a network that needs proxy. Then we need to change that file every time we change the network setup.

I'd assume once mixer command can find the right proxy by itself, it would take

[2018-09-07 00:26] reaganlo commented on #326
@bktan8 Can you provide a use-case where you would need to remove the "clear" repo?

[2018-09-07 00:39] tmarcu commented on #423
@cmarcelo You have to expect docker to be involved always now because it's default part of the architecture. You're right about the network switches though, that is an annoying case we have to support.
Unfortunately, mixer is not the only tool in the world that doesn't use libcurl, so we're going to hit this again and again at a distro scale. I think moving up the stack and fixing the autoproxy im

[2018-09-07 00:47] cmarcelo commented on #423
My point is even if I put the configuration specific for docker, the reported command would still fail... I think the issue reported here is legitimate.

OK :-)  Looking forward to know what the fix is.

[2018-09-07 01:07] bktan8 commented on #326
@reaganlo - A potential use-case is where the user wants to reduce the list of repos so it takes less time to find package(s) to add a bundle.

Ultimately - Why should the "clear" repo be required for mixin to work properly?  It's just another repo.  Are there some dependencies in the "clear" repo that are required for mixin to work properly?  If it is, then make it so it can't be removed.  I real

[2018-09-07 11:13] rchiossi commented on #423
@cmarcelo  I believe the biggest concern here is just turning the "network works but mixer fails" problem into "mixer init works but mixer build fails" errors. Using your sample does fix the issue with mixer init but unless you propagate that to docker, you are just turning one problem into another.
But a t the end of the day, I do agree that this is a legitimate issue, we just need to figure out

[2018-09-07 11:15] #251 closed

[2018-09-07 11:15] #386 closed

[2018-09-07 16:10] cmarcelo commented on #423
@rchiossi thanks for the clarification. I'm aware the issue is not simple, hence my previous comment :-)

[2018-09-07 17:56] ahkok commented on #423
Ideally, docker doesn't go out on the network and has all the data it needs. Making docker go on a public network defies a large part of the reason why you should use docker.

Can we avoid this?

I find the suggestion that we could pass a proxy host to the container actually pretty elegant.

[2018-09-07 22:03] tmarcu commented on #423
No, by the core definition it has to go over the network on every single build to pull RPMs down, unless you happen to be a very very rare use case that happens to have cloned all RPMs locally so you can build completely offline.
These cases exist and are supported (hence the --offline flag), but are by far not the norm, and they are doing so because of other network related issues where a full mi

[2018-09-08 00:37] tmarcu commented on #378
#398 Merged and released,

[2018-09-08 00:37] #378 closed

[2018-09-12 23:39] reaganlo commented on #58
To restate the issue:
Currently "sudo mixer build image --native" errors out if the default ister config json file "release-image-config.json" is not present in the mix directory.

Recommending the following solution:
When "sudo mixer build image --native" is executed, if "release-image-config.json" is not present in the mix directory", mixer should:
1) Copy the default file from "/usr/share/defau

[2018-09-12 23:46] matthewrsj commented on #58
:+1: that looks good to me

[2018-09-13 04:05] phmccarty commented on #58
@reaganlo Sounds good to me, too

[2018-09-13 21:14] ahkok commented on #423
I think this is a core design problem when docker was implemented. The container shouldn't have to go out over the network. It should purely exist to 'do the root bits' in a safe environment, and it should just be given all the assets that it needs to do the job, so it can function without networking entirely.

Maybe it's overly aggressive, but if you do `root` bits, and you do `fetch internet bit

[2018-09-13 21:46] ahkok opened #426 "`5.2.0` dropping bundle during mixing"
[code]

Expected outcome: `Manifest.chrome` exists

Actual outcome: It doesn't exist. Full output of script attached. Somewhere in the end the `chrome` bundle is silently dropped. I don't see any output to suggest why.

[code]

[2018-09-13 21:54] matthewrsj commented on #426
Very strange. I see it here:
[code]
but I don't see it under manifest creation time. That means it isn't in the `groups.ini` file, which should definitely have it listed.

OR chrome doesn't have any files, which is clearly not the case.

Can you paste the content of `update/groups.ini` please?

[2018-09-13 21:58] rchiossi commented on #426
That is really weird. I can't see any commit between 5.1.4 and 5.2.0 that could cause the issue.

[2018-09-13 21:58] ahkok commented on #426
It contains, properly:

[code]

[2018-09-13 21:59] ahkok commented on #426
@rchiossi  yep, I looked at it as well. I can't spot anything myself here either. Note that I don't see any %ghost warnings in my logs, and I would expect one at least, as we know the chrome RPM has one ghost file in it. So it's something in the same code path.

[2018-09-13 23:10] matthewrsj commented on #426
UGH, so the mixer inside the docker container is WAY out of date. I've spoken with Clear Linux devops and they are going to "get right on that" to publish up-to-date images for EVERY CL release. So I suppose that means this issue isn't with mixer, but instead with the devops flow.

I'm really beginning to dislike the docker "feature" but what you gonna do...

Workaround (again, ugh) for this until

[2018-09-13 23:10] #426 closed

[2018-09-14 15:30] ahkok commented on #426
Thanks for working through this with me, this was quite a frustrating issue :/

[2018-09-14 16:36] rchiossi commented on #423
I totally agree with you. From a security perspective, this is very wrong. I think the problem is that the reason why docker is used in mixer is a bit misleading. As I understand, it was never added in order to run the `root` bits, but rather to simulate an environment with the correct tooling for a particular update format, given that a mixer release cannot generate updates for formats older than

[2018-09-14 16:45] matthewrsj commented on #423
Actually, running as non-root was specifically required as part of a security review. Docker was meant to originally solve that problem *as well* as solve the format bump issue. Two birds with one stone sort of thing.

I don't like using docker, as I've said before, but I'm afraid we are stuck with it due to functional requirements (format bumps) and policy requirements (non-root builds).

[2018-09-17 16:30] matthewrsj commented on #92
swupd now uses a more recent version of libarchive. This needs to be tested to see if it is still an issue.

[2018-09-18 08:39] qzheng527 opened #428 "mixer init --upstream-url error"
I got below errors when setting the upstream-url for mixer init.

$mixer init --upstream-url=http://linux-ftp.sh.intel.com/pub/mirrors/clearlinux/
ERROR: Failed to retrieve latest published upstream version. Missing proxy configuration? : got status "404 Not Found" when downloading: http://linux-ftp.sh.intel.com/latest

Looks like the mixer tool ignored the strings after the first "/" for upstream

[2018-09-18 18:10] aaronovz1 opened #429 "swupd-server to mixer (yocto integration)"
@matthewrsj / @kevincwells creating a ticket here to follow on from conversations in https://github.com/clearlinux/swupd-server/issues/111.

Some slight progress but running into some issues and segfaults. These are the steps I've taken so far:

1. Start the docker image: `sudo docker run -v /media/data/yp2.5/build/intel/tmp/deploy/swupd/intel-64/intel-image:/home/clr/mix -it clearlinux/clr-sdk`
2

[2018-09-18 18:31] rchiossi commented on #429
Just a side note: You don't need `--new-config=false` in there since you are using a new config. Mixer now identifies it and select the right one for you (that is why it didn't break on config parse), but this option is a no-op here.

[2018-09-18 19:30] rchiossi commented on #429
`builder.conf` does not have a `FORMAT` variable anymore. Mixer will use the value in `mixer.state` only.
`upstreamversion` is the upstream release you want to base your mix on. Setting it to 1 will to to crate a mix for clearlinux 1 which is many years old. You probably want to set it to the current release (`25070` at the moment)
`https://download.clearlinux.org` is the upstreamurl. you can use

[2018-09-18 19:40] rchiossi commented on #429
Also, if you don't have an upstream and will build everything yourself (or you have all the rpms and bundles available locally), you cans use the '--offline' flag.

[2018-09-18 19:51] aaronovz1 commented on #429
I don't want to base anything on clearlinux releases though. I am using mixer/swupd with a custom built OS using Yocto. I just need mixer to generate the delta updates between versions of my OS. So for the upstreamversion, it would be starting at 0 or 1 for the initial build, not a version of clearlinux. How is the very first build achieved in clearlinux?

[2018-09-18 20:12] rchiossi commented on #429
If I understand correctly, you can achieve what you want with something like this:
1 - Init the mix with `mixer init --offline --clear-version 1 --format 1 --upstream-url none --no-default-bundles  --local-rpms`
2 - Add your bundles to `local-bundles/` folder
3 - Add your rpms to `local-rpms/` folder
4 - add everything to the mix with `mixer bundle add --all-local`
5 - Build everything with `mixer

[2018-09-18 20:42] aaronovz1 commented on #429
mixer init fails with `ERROR: Cannot find bundle "bootloader" in local or upstream bundles`, so I modified the file `mixbundles` to include my list of bundles, instead of default clearlinux bundles. However, I don't know what data mixer is looking for in terms of bundles. The only data I have for bundles generated from the old meta-swupd code which was compatible with swupd-server, are the `.conte

[2018-09-18 20:57] rchiossi commented on #429
well, that is weird. If you inti with `--no-default-bundles`, mixbundles should be empty.

[2018-09-18 21:04] rchiossi commented on #429
To create a new bundle just use `mixer bundle edit you_bundle_name`. It will create a template for you. To add it to your mix use `mixer bundle add your_bundle_name`.

Basically a bundle is just a list of packages you want to add. If you want to see the content of one of the official bundles, just create a normal mix (`mixer init`), add a bundle (e.g. `mixer bundle add editors`) and look for the c

[2018-09-18 21:38] kevincwells opened #432 "Shrink the size of the mixer container image."
**Problem**
We've talked in the past about wanting/needing to fine-tune what's included in the mixer bundle so that the container mixer downloads is as small as possible. Obviously keeping the bundle trim improves usage/install times for general users as well.

As recent as a few weeks ago, the format 25 container was ~350MB compressed. Sometime in those weeks, it jumped up to [950MB](https://hub.

[2018-09-18 22:53] aaronovz1 commented on #429
I don't think I need to create the bundles using `mixer bundle`. meta-swupd already performs the steps that `mixer build bundles` does. So I already have the `.content.txt` files under `<mixer/workspace>/update/image/<version>` which `mixer build update` expects as input.

With that said - `build update` still tries to access the URL listed in `upstreamurl` and because I set it to `none` or defaul

[2018-09-18 23:28] aaronovz1 commented on #429
At this stage I just want to get the basics working and have swupd-server swapped out to mixer with the least amount of changes to meta-swupd. Assuming swupd-server and mixer are still compatible this should be fine for the time being. meta-swupd generates the bundles with this code https://github.com/aaronovz1/meta-swupd/blob/master/lib/swupd/bundles.py

I tried using `--offline` with `mixer buil

[2018-09-19 00:08] rchiossi commented on #429
Yeah, indeed there is a bug there. There is a part of the code that checks if the URL is empty to decide if it should check the internet or not instead of checking the `--offline` flag.

For now,  run init with `--upstream-url ""` instead of  `--upstream-url none` and it should work.

[2018-09-19 13:42] rchiossi commented on #429
I tried reproducing the segfault om my machine and I'm unable to do so. Can you give me a more detailed guide on how to reproduce it?

[2018-09-19 17:16] aaronovz1 commented on #429
I have uploaded my workspace directory [here](https://www.dropbox.com/s/chcn22kawfeenrd/my-image.tar.xz?dl=0). You should be able to mount it under the clr-sdk docker image and run the `mixer build update` command.

[2018-09-19 18:12] rchiossi commented on #429
This is what I get running your workspace:
[code]

[2018-09-19 18:20] rchiossi commented on #429
I just noticed your workspace does not have any bundle definition or rpm. Did you link the right one?

[2018-09-19 19:09] rchiossi commented on #429
I just noticed that this workspace looks nothing like a mixer workspace before `build update`. You can run `mixer init && mixer build bundles` in a separate directory to check it for yourself.  Like I said, it is a bad idea to build the bundles manually...

[2018-09-19 19:21] aaronovz1 commented on #429
I setup a blank workspace for comparison and I can see what you mean. The structure is a little different as groups.ini, image folder, etc sit under the "update" folder instead of next to the builder.conf file. This is probably because my builder.conf has SERVER_STATE_DIR set differently.

It was useful though to see the contents under `image`. It looks like mixer doesn't use `.content.txt` files

[2018-09-19 20:33] matthewrsj commented on #429
https://github.com/clearlinux/mixer-tools/blob/master/docs/tutorials/custom-content-from-chroot.md

[2018-09-19 20:55] aaronovz1 commented on #429
I'm not sure that answers my question about the use of JSON vs full file tree lists (`.content.txt` files). Did mixer drop support for it in favor of JSON?

[2018-09-20 19:13] bryteise opened #434 "Enable mixer to control ister log levels"
Mixer should be able to pass different log levels to ister (and maybe debug by default) to improve the ability for users to understand what went wrong with image creation. Also consider moving the log file to the mix build directory for ease of locating the log content.

[2018-09-20 20:45] aaronovz1 commented on #429
Hi @matthewrsj,

I now better understand the link you provided. However, this will mean having to copy a lot of files on disk which will increase build time. This might be why meta-swupd was creating the `.content.txt` files manually instead. Can you confirm if mixer still supports this format and how I would get it to recognize them?

Cheers

[2018-09-20 23:11] aaronovz1 commented on #429
I had some success today going the route @matthewrsj mentioned above with the custom content from chroot. I did stumble upon a potentially bug though. If I re-run `mixer build update` without cleaning out the `www`, I get a segfault.

[code]

[2018-09-21 16:12] rchiossi commented on #429
I'll take a look at this crash.

[2018-09-21 21:16] rchiossi commented on #428
Fixed by #430

[2018-09-21 21:16] #428 closed

[2018-09-22 00:56] reaganlo opened #435 "Create swupd client staging dir in the system tmp dir instead of current working dir"
Currently, the swupd client called by ister creates a temporary staging directory in the current working directory.

Instead, create the staging directory in the system temp directory.

[2018-09-25 13:56] rchiossi commented on #429
`--clear-version` is indeed the version that you are creating the update to. `--mix-version` is the version of your mix. If this mix is not a branch, but the next upstream itself, it should be set to a number bigger than `clear-version`. Traditionally we move in increments of 10, so in this case, `mix-version` would be set to `clear-version + 10`.

Both `--mixdir` and `--id` are not valid mixer fl

[2018-09-25 21:35] aaronovz1 opened #436 "unsupported protocol scheme "file""
In the older swupd-server it was possible to use file:// to reference local/network file paths for the previous update data for content/version URL's. The only way around this currently is to setup a local webserver which seems like overkill when it could just read from the local disk directly.

[2018-09-25 21:36] matthewrsj commented on #436
You are right that is overkill. In swupd-server we could use libcurl to just handle it all internally. The golang net/http library doesn't allow file protocol. We should add an internal API to handle file protocol in mixer, I agree.

[2018-09-25 21:42] matthewrsj commented on #436
Maybe something like https://github.com/hashicorp/go-getter, though that may be a little heavy-weight.

[2018-09-25 22:24] aaronovz1 opened #437 "Host format not configurable"
I am building outside the Clearlinux environment (Yocto integration) and have come across a warning which I think also leads into a segfault later in the chain.

`Warning: The host format and mix upstream format do not match. Mixer may be incompatible with this format; running natively may fail.`

This appears to be because the host format is read from `/usr/share/defaults/swupd/format` and I don'

[2018-09-25 22:33] rchiossi commented on #437
you can use `--format` flag in mixer init to set the format. The waning might still proc, but you can ignore it if you set it manually during init.

[2018-09-25 23:05] aaronovz1 commented on #437
Perhaps I'm running into a different issue then. I realised I wasn't calling `mixer init` on every build, only for the first build. After changing it to call it every build, I get a different error.

[code]

Basically I am trying to build an update from version 1 to version 2. I was able to successfully build version 1 and deployed the files to a local webserver.

This is the init command I'm usin

[2018-09-26 18:07] aaronovz1 commented on #437
Ok I resolved that issue. I didn't realize `mixer init` can accept the `--offline` flag as it's not documented in the manpages for 5.1.3. I think the next issue requires the recent fixes for the --offline flag in 5.2.1.

@kevincwells what is the best way to update mixer to the latest in the clr-sdk container?

[2018-09-26 18:20] rchiossi commented on #437
Yes, `--offline` is a global flag and can always be used.

Actually, you should only run `mixer init` for the first build. Is there any reason why you are running it again?

[2018-09-26 18:31] aaronovz1 commented on #437
That is the way I had it originally. I guess I'm getting confused around how mixer determines what the next version is that it needs to generate the updates for. If I call `mixer init` once with `--clear-version 1`. How does it know to generate updates for version 2? In the deprecated swupd-server, you would normally pass `--osversion` to `swupd_create_update` and `swupd_make_fullfiles`. I don't s

[2018-09-26 18:42] rchiossi commented on #437
Ah, indeed. That is probably the best way to go if you are your own upstream.

In theory you could also do the same with the `mixer versions update` command, but I just noticed it doesn't like the `--offline` flag.

[2018-09-26 18:48] aaronovz1 commented on #437
Should we create a separate ticket to fix `mixer versions` to obey the --offline flag?

Would the `--increment` flag for `mixer build` also achieve a similar thing or does refer to something else?

I don't suppose you know how to update mixer inside the docker containers? I'm kind of blocked until I update to 5.2.1.

[2018-09-26 22:55] rchiossi commented on #437
There is already an issue to make a global offline mode that should fix all those issues. It is already ongoing so I think there is no need to create another one.

`--increment` automatically adds `+10` to `mixver`, but it won't change clearversion.

You could call `swupd update` on every boot (which sounds bad), or you could build mixer yourself, mount a directory with the new binary inside the c

[2018-09-27 21:36] bktan8 opened #439 ""mixer build delta-packs" doesn't work through container"
Building delta-packs through container seems to generate some errors.

clear@clr-class01 ~/mixer $ mixer build delta-packs --from 10 --to 20
Warning: Using Format=25 from mixer.state for this build.
Updating docker image
25: Pulling from clearlinux/mixer
Digest: sha256:1f21a92dbdee1555825b1cbc1e254ff669b73467267b6cc7dfa3f440b22e7f3c
Status: Image is up to date for clearlinux/mixer:25
Running comma

[2018-09-27 21:40] bktan8 opened #440 "Need a "bundle list" flag that shows the mix-version each bundle was added"
It would be nice to have a "mixer bundle list" flag that shows the mix-version each bundle was added.
For example:

bootloader        (upstream bundle)  10
curl              (upstream package) 20
editors           (local bundle)     20
emacs             (upstream bundle)  (included) 20
helloclear-bundle (local bundle)     10
kernel-kvm        (upstream bundle)  10
os-core           (upstream bundl

[2018-09-28 17:56] aaronovz1 commented on #437
Thanks for the help. I finally got it working! I ended up with the following init call:

[code]

[2018-09-28 17:56] #437 closed

[2018-09-28 17:56] #429 closed

[2018-09-28 18:05] rchiossi commented on #437
Awesome! I'm still looking at that segfault just to make sure it wont crash again in the future.

[2018-09-30 00:50] aaronovz1 opened #442 "corrupt pack files being generated"
I finally got mixer generating updates without any obvious errors but when I tried testing updating my OS from version 1 to version 2, the client couldn't unpack any of the `pack-*-from-1.tar` files. Trying to open the tar files throws an error as if they are corrupt or weren't written completely. Doing a `file` shows they aren't interpreted as XZ compressed data like the `pack-*-from-0.tar` files

[2018-09-30 02:03] tmarcu commented on #442
@aaronvz1 do you have zstd compression available on your system? Delta packs are created using zstd only now, and zero packs are xz.

[2018-09-30 02:48] aaronovz1 commented on #442
@tmarcu I am running mixer in the docker clr-sdk container. I would assume zstd is in the container? If not then it should probably be added as a dependency.

[2018-09-30 03:03] aaronovz1 commented on #442
Never mind. You’re referring to the host system, in which case I don’t have zstd installed. I’ll set that up tomorrow and close this out if it solves the problem.

[2018-09-30 06:00] tmarcu commented on #442
Great let me know if that gets you any further! This doesn’t solve your problem, but, I have to say for the record I would also highly encourage other options than the sdk container, I.e a regular VM if the host system can’t be Clear.

[2018-10-01 16:36] aaronovz1 commented on #442
This was a non issue. I had to install zstd and update libarchive. Closing.

[2018-10-01 16:36] #442 closed

[2018-10-01 21:18] otaviobp opened #445 "Mixer build delta-packs won't work after a build all"
Running mixer commands in this order will fail:

    $ sudo mixer build all
    $ sudo mixer build delta-packs --previous-versions=1

mixer build all updates mixversion and this information is used by delta-packs to check what's the current version to be used.

If build bundles and build update is used, delta-packs works fine because mixversion isn't updated:

    $ sudo mixer build bundles
    $

[2018-10-01 22:03] tmarcu commented on #439
@bktan8 thanks for bringing this up, turns out it's not just a problem with systems running other OS's. Adding a patch to include zstd binary into mixer as well, since only the zstd dev library is provided by default in libarchive. Will close this once it's released.

[2018-10-01 23:47] reaganlo commented on #365
@bktan8 As discussed, the ideal fix for this is in the "ister" application. Just so that we don't lose sight of this issue, it would be great if you could log an issue in the "ister" repo and close this one.

[2018-10-02 16:12] bktan8 commented on #365
I've filed an issue with the ister repo.  https://github.com/bryteise/ister/issues/155.

[2018-10-02 16:12] #365 closed

[2018-10-02 18:09] aaronovz1 opened #447 "Merge and update wiki information from swupd-server"
There is some good information around the manifest format etc on the old [swupd-server](https://github.com/clearlinux/swupd-server/wiki) repo. I think this should be brought across and updated for mixer. If it is located elsewhere already then just ignore this and close with a link.

Cheers

[2018-10-02 22:52] phmccarty opened #448 "`mixer bundle edit` can create a bundle with invalid name"
Steps to reproduce (from a empty workspace):

[code]

No matter what option I select (Edit, Revert, or Skip), I cannot get mixer out of this bad state. For example, if I choose Skip, I can successfully remove the `foo.bar` bundle, but mixer then gets confused about the .orig file it left behind:

[code]

Perhaps mixer should not try to edit a freshly created bundle definition if the bundle name is

[2018-10-03 21:50] reaganlo commented on #424
Closing this enhancement request as this should be implemented as part of #113

[2018-10-03 21:50] #424 closed

[2018-10-04 18:50] #439 closed

[2018-10-08 07:49] gtkramer commented on #113
I think we need to be careful here because mixer is used by both upstreams and downstreams.  If I'm understanding this right, as this is, it creates a default assumption of downstream usage?  This would require something of a `mixer set config` command to make this work for upstreams, which feels a little icky...

[2018-10-08 17:05] tmarcu opened #452 "mixer init must create .yum-mix.conf"
This should be shifted left from being create in build bundles, to being created during mixer init phase, with a --repo flag that sets the default repo in it to something other than download.clearlinux. A user may want to edit this file before building their first mix because they are a full upstream building completely offline, so make it easier for them to do so from the beginning.

[2018-10-08 19:18] tmarcu opened #453 "Mixer needs to be able to set a persistent --offline option in the builder.conf"
Some users are pure upstreams, meaning they do not **EVER** want to go online for any mixer operation. The content and infrastructure even for regular downstream users may require them to work locally only because of network issues/security, so making this persist without having to constantly call the flag on every command will be required.

[2018-10-08 20:14] ahkok opened #454 "RFE: relative file paths in configs (builder.conf and .yum-mix.conf)"
Moving the mixer folder, or renaming it breaks it. This is awkward, and you have to manually edit two files to recover.

Expected behavior:

- the yum repo file is just created on the fly, and destroyed after the operation completes
- builder.conf contains relative file paths by default

[2018-10-08 20:15] ahkok commented on #452
Ideally, this is created when needed and removed elsewhere, and `builder.conf` contains the needed hints to include e.g. a local repo. See #454. Maybe both things are possible, though - if it exists, use it, else, create it on the fly for each operation and remove after it's no longer needed?

[2018-10-08 22:23] tmarcu commented on #454
The dnf conf should not be destroyed, can you explain why that would be useful? It’s com

[2018-10-08 23:52] tmarcu commented on #452
It's always needed is the thing though, but I understand where you're coming from now. *Technically* it isn't necessarily needed for a plain default mix case with no extra repos, you're right there.

[2018-10-09 00:01] phmccarty opened #455 "Minversion should not modify versions for deleted files"
In Clear Linux OS, there was a (full) minversion bump for build 25440. After I updated to this version, I saw my content in /usr/local/bin wiped, because a while back /usr/local/bin was introduced to the distro by accident, and mixer bumped the version for /usr/local/bin to the minversion to all relevant manifests.

To avoid this issue of repeatedly deleting content that should have been deleted o

[2018-10-09 17:42] #455 closed

[2018-10-09 17:46] rchiossi commented on #452
Isn't it? afaik dnf always get the -config flag used, even if you don't add anything. So even if id doesn't need it, it will at least look if the file exists when mixer calls it.

[2018-10-09 17:47] rchiossi commented on #453
I can incorporate this in my current patch since I'm already working on --offline code paths.

[2018-10-09 19:50] chivakker opened #457 "Feature: mixer to clean old updates to free disk space"
It turns out that after a number of mixer build bundles && mixer build update, one can run out of space in the disk.  It would be good to have a command that will remove old update/ stuff that is not useful going forward.

[2018-10-10 07:36] rchiossi commented on #457
What exactly is not useful going forward? Since you cannot ensure all clients will be updated, you need to keep all previous versions available. Also, a file needed in the current version may be present in a previous version if there were no changes to that file, so pretty much all the content in update/ must stick around.

[2018-10-10 22:57] reaganlo commented on #448
@phmccarty @tmarcu Apologies, but this is going to be a long winded question.

Currently if a user creates a bundle using **Mixer** with an invalid name, the invalid bundle as well as its back up is created. I've done a quick fix where the invalid bundle as well as its backup does not get created.

But while testing a scenario where the user **manually** copies bundles from elsewhere with invalid

[2018-10-12 18:48] reaganlo opened #461 "`mixer bundle list mix` generates invalid bundle name error"
`mixer bundle list mix` should display only bundles that are "added" to the mix.
But `mixer bundle list mix` generates an invalid bundle name error, if there a bundle with an invalid name that is not "added" to the mix but exists in the `locals-bundle` directory.

[2018-10-12 18:59] reaganlo opened #462 "What is `mixer bundle list` supposed to show?"
This came up as a question in our internal discussions. So raising it over here to keep track of it.

`mixer bundle list mix` : Shows all the bundles that are "added" to the mix.
`mixer bundle list local`: Shows all the bundles "present" in the `locals-bundle` directory.
`mixer bundle list upstream`: Shows all the bundles "present" upstream.

So what is `mixer bundle list` supposed to show? Curren

[2018-10-18 17:17] otaviobp opened #467 "Create a latest_format file in version/"
There's no way to know the last available version of Clearlinux just looking at content of meta-data generated by mixer.

Currently swupd knows checks the format file in the system or uses the default format file to get the ${SERVER}/version/format${FORMAT_NUMBER}/latest and check what's the latest version to be installed. If we don't know the latest format there's no way to proceed.

With that fi

[2018-10-18 17:54] otaviobp commented on #467
What if the mixer was published in an http server and not in my system? Isn't this a use case?

And what about the official clearlinux content? How do I know the last format?

[2018-10-18 17:58] otaviobp commented on #467
My use case: I want to install the last available release published in a server in a chroot.

Is there a way to do that without the lastest_format file?

[2018-10-18 18:00] phmccarty commented on #467
@otaviobp I'm not thinking of a good approach to solve the problem you are outlining.

swupd-client can only understand a single format, so if it was able to consume a `${SERVER}/version/latest_format` when `latest_format` is greater than the client format, and there were some backwards incompatible changes in `latest_format`, swupd-client might not be able to consume the update content, depending

[2018-10-18 18:03] otaviobp commented on #467
You have a point here. Maybe we should then have in swupd codebase any information about the format swupd supports. We don't have this right now.

I'll close this issue because you convinced me.

[2018-10-19 15:27] matthewrsj opened #468 "Stop creating `/usr/share/clear/os-core-update-index` file"
This file is no longer used as the bundle-info themselves are published with much more information.

[2018-10-19 20:52] matthewrsj commented on #462
My 2 cents: that seems correct to me. It is also explicitly documented in the help text:
[code]

[2018-10-22 16:46] matthewrsj commented on #358
fixed by #411

[2018-10-22 16:56] matthewrsj commented on #387
Let's not bikeshed. I prefer putting it in builder.conf because those who want this feature usually want it all the time, but honestly at this point we just need the feature so I'm not going to argue about it. This said of course passing `--offline` everwhere should work too.

[2018-10-22 22:07] aaronovz1 opened #476 "Implement alternative input layout"
There is functionality from the original swupd-server that wasn't brought across to mixer which allows custom bundles to be defined as a file list. This avoids having to copy each bundle rootfs which the document [here](https://github.com/clearlinux/mixer-tools/blob/master/docs/tutorials/custom-content-from-chroot.md) describes.

Please see the original pull request here for more information:
http

[2018-10-22 22:16] matthewrsj commented on #476
@aaronovz1 there is no plan to add that feature *as it existed in swupd-server* right now, but one thing you could do that is essentially the same thing is provide a bundle-info file instead of the individual chroot. All that `mixer build update` uses from the bundle-info file is the file list anyways.

mycustombundle-info:
[code]
You may need to validate that, you *might* need to define `DirectIn

[2018-10-22 22:19] aaronovz1 commented on #476
Ok thanks. Let me try that route and see how I go.

[2018-10-22 22:22] matthewrsj commented on #476
You will still need to add the bundle to the groups.ini as well and put the bundle-info file in the `image/<ver>` directory.

[2018-10-23 01:43] aaronovz1 commented on #476
Ok. I have the JSON files being generated under `image/<ver>`. Mixer complained that it couldn't stat `image/<ver>/mybundle` for each of the bundles. So I added to my script to create empty directories for each of the bundles. But then I get error from mixer `ERROR: Couldn't build update: failed to create update metadata: manifest has a zero file count`.

Do I need to change how I call `mixer buil

[2018-10-23 06:39] tmarcu commented on #476
@aaronovz1 if you put empty directories, it will treat it as "all files were deleted for this bundle," so don't do that, only use bundle-info files, or use a directory that is a chroot. What version of mixer are you using?

No :)

[2018-10-23 17:02] aaronovz1 commented on #476
If I have empty directories and just have bundle-info files, then mixer throws an error that it can't stat a directory with the same name as the bundle. I am running mixer 5.2.1 within the clr-sdk docker image.

[2018-10-23 18:03] aaronovz1 commented on #476
@tmarcu / @matthewrsj
It seems like the code path goes into:
https://github.com/clearlinux/mixer-tools/blob/70a3f68c580c9da94491ad03f326dd930193c519/swupd/create_manifests.go#L101

Then:
https://github.com/clearlinux/mixer-tools/blob/70a3f68c580c9da94491ad03f326dd930193c519/swupd/fullchroot.go#L34

Which fails because the path `image/<ver>/<bundle>` does not exist.

I could be wrong but I don't ha

[2018-10-23 19:53] #323 closed

[2018-10-23 20:32] #391 closed

[2018-10-23 22:02] aaronovz1 commented on #476
Ok. I totally messed up. Did not realize when I was making the bundle-info files they had a `.json` extension. This breaks everything. I did however figure out how to compile mixer and commit it into a docker image in the process, so now I can debug mixer quite easily :)

[2018-10-23 22:02] #476 closed

[2018-10-24 04:48] #468 closed

[2018-10-25 00:15] aaronovz1 opened #481 "bsdtar: locale conversion error"
I am trying to get the clr-sdk docker container to run bsdtar and extract a full chroot tar that was generated with bsdtar on the host. I am getting the following messages which cause a failure exit code:

[code]

I have checked the locale inside the container and on the host and they are both `LANG=en_US.UTF-8`. The docker run command I'm trying:
`env LANG="en_US.UTF-8" docker run --workdir /home

[2018-10-25 00:44] aaronovz1 commented on #481
Ignore me. Jumped the gun. The fix was to use -e arg for docker to set the locale:

`-e LANG=en_US.UTF-8 -e LC_ALL=en_US.UTF-8`

[2018-10-25 00:44] #481 closed

[2018-10-25 16:12] matthewrsj opened #482 "mixer build delta-packs creates delta packs over format boundaries"
This should not happen, since clients can not update across format bump boundaries anyways.

[2018-10-25 16:43] matthewrsj commented on #413
I agree with @tmarcu here, I'd rather take image creation out of mixer altogether. May be tough to do with people using it already though :confused:

[2018-10-26 10:20] rchiossi commented on #268
This variable only existed in the old config. Since mixer 5.2.0, mixer only uses new config which does not contain this variable.

[2018-10-26 10:20] #268 closed

[2018-10-30 19:52] reaganlo opened #489 "`mixer bundle add` does not add valid bundle if invalid bundle is also provided"
`mixer bundle add <valid bundle> <invalid bundle>` does not even add the `<valid bundle>` to the mix.

E.g.
$`mixer bundle add foobar foo.bar`
_Adding bundle "foobar" from local bundles
2018/10/30 19:43:01 ERROR: Invalid bundle name "foo.bar" derived from file "/home/reaganlo/mix/local-bundles/foo.bar"_

$`cat mixbundles`
_bootloader
kernel-native
os-core
os-core-update_

Expected Output:
Ideally,

[2018-10-31 18:35] LibertadCruz commented on #457
What does mixer do if it runs out of space? does ti notify the user it needs X amount of space to continue?

[2018-10-31 19:44] chivakker commented on #457
@LibertadCruz yes it does lately.   The best option to free space in the disk is as follows

Before running out of space

mixer build all --native --min-version={current-version - 1}

then it is safe to erase all versions {current-version -2}

@rchiossi, I believe the above can be converted into a mixer command that calculates versions and is transparent to users.

[2018-10-31 22:38] LibertadCruz commented on #453
some TC that come to mind.

1.Generate a working directory with mixer --offline option enabled and persistent. Add bundles and build, disable any connection to the outer network.

a.Expected result: Mixer should never try to connect or fail.

2.Execute step 1 then Update your Clear linux version using swupd update, then mix, add bundles, remove, build.

a.Expected result: Again mixer should not at

[2018-11-01 23:51] bktan8 opened #491 "What do these "warning"'s mean? Are they important?"
WARNING: Using FORMAT value from /usr/share/defaults/swupd/format
Warning: Using Format=26 from mixer.state for this build.

[2018-11-02 23:35] bktan8 opened #494 "mixer should support filenames with unusual characters instead of blacklisting them"
In the "build update" example below, some files are blacklisted because they contain unusual characters in them.  Would be good for mixer to allow filenames with unusual characters, otherwise the bundles containing packages where these files come from are incomplete.

===
clr@clr-43b0f7e027b74afdbc0aaad9359d3467 ~/mixer $ sudo mixer build update
Password:
Warning: Using Format=26 from mixer.state

[2018-11-05 21:28] gtkramer opened #495 "Save dnf solution for package installs to file"
When using dnf to install packages from multiple repositories, users should have additional logs that help them to validate that their bundle was built correctly.  Namely, a snapshot of the solution which shows the packages and the corresponding repository from which they were installed would be helpful.  This is needed because there are cases that cause to dnf pick a package from a repository tha

[2018-11-05 21:31] gtkramer commented on #495
A snapshot of what would be great to save to a file:
[code]

[2018-11-05 22:05] tmarcu commented on #457
@chivakker removing old content is not a trivial thing like rm -rf /old-content, you will need to decide which content you don't need anymore, which clients are on which versions, because if you remove the update content for a version they are on, they will no longer be able to verify or install content, etc.

This is unfortunately not something that can be easily generalized, but very easy to do

[2018-11-05 22:20] tmarcu commented on #457
Re-opening for tracking purposes, but this is a large engineering effort on the code side that I still think should be mitigated by proper build processes.

[2018-11-05 22:32] #454 closed

[2018-11-05 22:34] tmarcu commented on #448
@reaganlo  ^

[2018-11-05 22:39] tmarcu commented on #387
The builder.conf is an appropriate place to put this option.

[2018-11-05 22:42] tmarcu commented on #326
hmm I'm keen on keeping it because unless the user package is incredibly one-off, it will likely require dependencies that are just magically resolved by having the clear repo available to use.In that case I'd rather make this repo non-removable. It can also be edited to point to a fake URL as a workaround @bktan8

[2018-11-05 22:43] tmarcu commented on #282
Pending PR approval.

[2018-11-07 22:38] otaviobp opened #497 "Add to bundle Manifests header a flag saying that a bundle is experimental"
Swupd needs that information in order to show users that information.

[2018-11-07 22:42] otaviobp commented on #497
Or if there's any other suggestion on how to export that, it's fine too.

[2018-11-09 11:24] aelghamry opened #499 "openssl conflicts"
using the latest CLR release -26170- i am getting error because of openssl conflicts:
[code]

[2018-11-09 19:40] chivakker commented on #445
@tmarcu this seems to be an actual bug, rather than an enhancement.

As stated by @otaviobp

$ sudo mixer build all
$ sudo mixer build delta-packs --previous-version=1

it fails to find a Manifest for the next version?

i.e. my last version is 640 (this is deployed on my target system)

$ sudo mixer build delta-packs --native --previous-versions 1
ERROR: couldn't find manifest of target version: o

[2018-11-13 12:16] aelghamry commented on #499
the issue still exist :

+ mixer init --local-rpms
Initializing mix version 10 from upstream version 26230
[code]

[2018-11-13 12:18] aelghamry commented on #499
there is no issue if i revert back to 👍
 mixer init --clear-version 26120 --mix-version 10 --local-rpms

[2018-11-13 17:55] #452 closed

[2018-11-13 20:09] #445 closed

[2018-11-14 00:20] reaganlo commented on #461
Fixed and merged.

[2018-11-14 00:20] #461 closed

[2018-11-14 01:11] bktan8 opened #501 "mixer doesn't pass system-level certificates into the container"
Although SSL certificates were installed on the main system to access an https intranet server, they were not passed into the container during build bundles/update.  Thus, the container wasn't able to download the packages from the https intranet server.

[2018-11-14 14:11] shrmrf commented on #499
possibly related to https://github.com/clearlinux/mixer-tools/issues/501

[2018-11-14 23:44] #482 closed

[2018-11-14 23:58] tmarcu commented on #499
@ahkok Can you shed any light on this?

[2018-11-14 23:58] tmarcu commented on #499
@phmccarty

[2018-11-15 19:19] bktan8 opened #503 "Need ability to set a mirror for mixer to get bundle definitions"
It would be great to be able to point to a different location for bundle definitions instead of always pointing to the upstream Github repo.

[2018-11-15 22:09] ahkok commented on #499
`compat-openssl-soname-10` is conflicting with any `openssl-1.0` version. You need to switch to a release that doesn't have this conflict.

[2018-11-15 22:13] ahkok commented on #499
Note: If I look in:

https://download.clearlinux.org/releases/26170/clear/x86_64/os/Packages/

I do not see package `openssl-1.0.2p` in the repo. If you have local rpms for openssl, this may be the cause. I don't see how you could get `openssl-1.0.2p-76.x86_64` from release 26230 or even 26170

[2018-11-16 23:05] #282 closed

[2018-11-16 23:25] #328 closed, assigned to nobody

[2018-11-19 19:18] tmarcu commented on #499
@aelghamry can you confirm if this is still an issue in the version you're running on?

[2018-11-19 19:20] tmarcu commented on #453
@rchiossi can you write some updates on this?

[2018-11-20 12:38] rchiossi commented on #453
There are currently 3 things left to get persistent offline working:
1: Finish #460 as it will allow offline mode to be toggled
2: Fix `--offline` in `mixer versions` subcommand.
3: Make the config persistent on init.

I'm finishing item 1 and item 3 is trivial once the rest is in. I already have bat tests ready for this and I've also tested mixer.state conversion once the property is added. The o

[2018-11-20 19:00] tmarcu commented on #453
@rchiossi great, I agree with your plan ^
I probably won't get a chance to release until next week because of the holidays here & I want to continue having QA and devops available, but we can always merge and run a build on the test infra so we can release quickly on Monday again.

[2018-11-21 23:04] reaganlo commented on #448
Fixed and merged as part of https://github.com/clearlinux/mixer-tools/pull/490

[2018-11-21 23:04] #448 closed

[2018-11-26 18:02] otaviobp commented on #467
I found a use case for this request, so I am reopening the ticket.
In swupd it would be nice to have the last_format/last_version listed in swupd check-update. This was requested in https://github.com/clearlinux/swupd-client/issues/482 and the best way to implement that is having that file.

[2018-11-27 23:13] reaganlo commented on #489
Fixed and merged as part of PR https://github.com/clearlinux/mixer-tools/pull/507

[2018-11-27 23:13] #489 closed

[2018-11-28 17:38] aaronovz1 opened #508 "os-core-update-index still being generated"
I thought in mixer 5.4 the os-core-update stuff was removed. However, I am still seeing some files being generated.
[code]

Is this expected?

[2018-11-28 17:41] matthewrsj commented on #508
The `/usr/share/clear/os-core-update-index` file itself was removed, yet the `os-core-update-index` bundle still exists to provide the content under `/usr/share/clear/allbundles`

[2018-11-28 17:41] #508 closed

[2018-11-28 20:02] seanvk opened #509 "Mixin fails to add packages to a local repo"
Describe the bug
Following the wiki page on mixin, unable to successfully had RPMs that I built

To Reproduce
Steps to reproduce the behavior:

mkdir ~/myrepo
cp ~/clearlinux/packages/blender/rpms/*.rpm ~/myrepo
cd ~/myrepo; createrepo_c .
sudo mixin repo add mylocalrepo file:///home/seanvk/myrepo/
sudo mixin package add blender --bundle blender-bundle
Where blender packages are like blender-2.79b

[2018-11-29 01:03] seanvk commented on #509
Thanks @jwakre that revealed that it was missing deps in my rpms that I was using in Mock normally.  So it needs the required runtime deps.  Will close.

Sean

[2018-11-29 01:03] #509 closed

[2018-11-29 20:14] bktan8 opened #511 "Mixer needs to handle build bundles/update better against poor/intermittent connectivity to package repo server"
When doing build bundles/update using the "--all-upstream" option, sometimes mixer will succeed and sometimes will fail.  The failures are usually due to network connectivity issues.  It would be good for mixer to be able to cope with intermittent/poor connectivity issues.

[2018-11-29 23:49] #326 closed

[2018-12-04 17:27] bktan8 opened #514 ""mixer build all" should support "--clean" option"
If you want to a clean build, you have to run each command individually, i.e.
$ sudo mixer build bundles --clean
$ sudo mixer build update

But if you want to do a clean "build all", the "--clean" option doesn't work.

Please support "--clean" option for "build all".

[2018-12-04 17:45] aaronovz1 opened #515 "Format bump notification"
Would it be possible to list in the release notes when a format bump is necessary? This would be helpful coming from a non-clearlinux use case. I can't easily tell for example, if there is a bump between 5.4.0 and 5.5.0 for the iterative manifest changes.

[2018-12-04 19:42] rchiossi commented on #515
A format bump is not something determined by mixer, but rather by what your upstream is. Mixer can generate output for different formats.

[2018-12-04 23:52] jwakre opened #516 "Iterative Manifests: Build update fails when including bundle without file change"
When a bundle is updated to add a new bundle to its include list without any file changes, iterative manifests generation will fail. This is because the list of files to be included in the iterative manifests would be empty. In this situation mixer outputs the following failure:

ERROR: Couldn't build update: failed to create update metadata: manifest has a zero file count

[2018-12-04 23:54] jwakre commented on #516
@tmarcu @otaviobp This bug will cause issues with releases including the iterative manifests change.

[2018-12-06 18:53] #516 closed

[2018-12-12 00:05] bktan8 opened #519 "Users shouldn't be forced to run "mixer" commands at the root level of their mix workspace"
Right now, if I run the "mixer" command in any subdirectory of my mixer workspace, I get this error:

[code]
and a "mixer.state" file gets generated at the location I was at.

IMO, it's not user friendly to force users to have to go their mixer root workspace before executing any "mixer" command.  Users will want to navigate freely within their mix workspace and execute any "mixer" command.

[2018-12-12 00:15] bktan8 opened #520 "Is mixer bundle "edit" being deprecated?"
I don't see it in "mixer bundle --help", but the "edit" subcommand still works and no message about it being deprecated or not.

[2018-12-12 02:21] bktan8 opened #521 ""mixer bundle create" should show a different message if it's an upstream bundle being made "local""
Currently, "mixer bundle create <upstream bundle name>" or "mixer bundle create <new bundle name>" both say:

[code]
For a brand new bundle, this message makes sense.  However, for an upstream bundle that is being "made local" doesn't make sense.  I think it should say something like "Making upstream bundle <bundle name> a local bundle in /home/user/mixer-workspace/local-bundles".

[2018-12-12 17:44] rchiossi commented on #520
Indeed. Since we removed the editor from `bundle edit`, **edit** and **create** became pretty much the same command, so now **edit** is an alias to **create**. If you just type `mixer bundle edit` or `mixer bundle create` you will see both are listed in the **Aliases** section.

[2018-12-12 17:46] rchiossi commented on #519
Are you sure you are running the latest version of mixer? This changed in mixer 5.5

[2018-12-12 17:56] bktan8 commented on #519
I'm running 5.5.1.  See example below:

[code]

[2018-12-12 18:47] rchiossi commented on #519
Ah ok. I thought you meant `mixer` as in the root command without any parameters, which got fixed in 5.5.

First, `mixer.state` being created there is a known bug and will be fixed. So disregard that for now.

So my understanding is that you want something like `git`, which is able to look for the its metafiles on top directories. The problem is that unlike git, mixer does not have self-contained

[2018-12-12 21:13] bktan8 opened #522 "Can we have "mixer bundle set-local <upstream bundle name>" to make an upstream bundle a local bundle?"
"mixer bundle create <upstream bundle name>" doesn't make sense and is not intuitive at all.
I think "create" should just be for creating a new bundle.

[2018-12-12 22:04] rchiossi commented on #522
Maybe the wording of the command description generates some confusion, but basically `bundle create` always creates a new bundle, what changes is what mixer uses as a template for the created file: blank is not found, upstream if found.
If you call create on a bundle that exists upstream, you are creating a completely new bundle even thought they have the same name.

[2018-12-12 22:48] reaganlo commented on #522
There needs to be a balance between intuition and providing unnecessary additional options that the user would need to remember. I think its easier for a user to just remember one command that creates a local copy of a bundle (be it an upstream one or a new one).

[2018-12-13 09:23] aelghamry commented on #499
the issue is not repredisable any more in the newer versions

[2018-12-13 17:44] #499 closed

[2018-12-14 22:02] jwakre opened #523 "Iterative manifests do not adhere to minversions"
Iterative manifests can leak across minversion updates. For example, in version 26780 the minversion is 26720 and some iterative manifests exist at older versions.

[2018-12-15 01:02] jwakre commented on #523
Since, iterative manifests don't follow minversion rules, there is a high chance that they would cause issues for format bumps. I will make sure that iterative manifests in an old format do not leak across format bumps

[2018-12-17 18:12] jwakre commented on #523
This shouldn't be a huge problem because iterative manifests only update between 2 specific versions. Iterative manifests that leak across a minversion boundary are unnecessary, but should be ignored.

[2018-12-17 20:58] jwakre opened #524 "Iterative manifests generated on minversion update when minversion != latest"
When performing a minversion update that is less than the latest version, iterative manifests will be generated for all bundles. This is not desirable because iterative manifests created by a minversion update will be identical to their corresponding bundle manifest.

Steps to reproduce on Clear 26800:

$ mixer init
$ mixer bundle add vim
$ mixer build all --native --increment
$ mixer build all --

[2018-12-17 22:46] jwakre opened #525 "Iterative manifests leak across format bumps"
After a format bump, iterative manifests based on the old format can leak into the new format.

Steps to reproduce on Clear 26800:

$ mixer init
$ mixer bundle add vim
$ sudo mixer build all --increment --native
$ mixer bundle edit vim
edit vim bundle to cause update
$ sudo mixer build all --increment --native
$ sudo mixer build format-bump --new-format 27 --native

[2018-12-18 17:13] jwakre commented on #525
Marking duplicate because it is a different symptom of the same issue in https://github.com/clearlinux/mixer-tools/issues/523. Iterative manifests can leak across minversions updates and format bumps perform minversion updates

[2018-12-18 17:13] #525 closed

[2018-12-18 22:52] jwakre commented on #524
After looking closer at this issue, I changed my mind and decided that this isn't a bug. Bundles can contain files with versions greater than the minversion after a minversion update, so iterative manifests can have a performance benefit. Although, I think iterative manifests could be enhanced to work better with minversions.

[2018-12-18 22:52] #524 closed

[2018-12-19 20:40] jwakre opened #527 "Improve iterative manifest effectiveness for minversion updates"
Minversions create large updates, but typically without content changes. Since these updates can change many file versions, iterative manifests (if generated) will usually be very long. In this case, iterative manifests could add entries based on content changes instead of version changes to reduce unnecessary manifest entries caused by minversions.

Based on offline discussion, I know that @otavi

[2018-12-20 16:03] #523 closed

[2018-12-20 16:06] #497 closed

[2019-01-02 21:53] jwakre opened #528 "Remove support for running mixer commands inside container"
Mixer is no longer required to run commands inside of a container and removing this feature reduces mixer's complexity. After this change, mixer would no longer need the '--native' flag because it will always run natively.

[2019-01-02 22:54] rchiossi commented on #528
In order to remove docker, we will need to check all formats that had this feature available for auto-bump (24, 25, and 26) and make sure mixer can do a proper bump. 25 to 26 should be good to go, but we need to check the changes from 24 to 25.

[2019-01-04 18:01] jwakre commented on #528
I don't think removing Docker would impact specific formats, but an incorrect implementation could break format bumps in general. Just to be safe, I ran format bumps from 24->25 and did not experience any problems.

[2019-01-04 19:04] rchiossi commented on #528
The reason I mentioned the bump from 24 to 25 is because right now mixer is able to work on those formats by downloading the correct image with the correct mixer version and working inside docker. In order to keep backwards compatibility, the new mixer has to be able to do it as well.

[2019-01-04 19:45] jwakre commented on #528
My PR completely removes support for running inside of a container, so older formats would not run in a container. I don't see why older formats would be required to be run inside a container. Executing commands in a container shouldn't modify how manifests are formatted and native builds should have been supported.

[2019-01-04 19:53] rchiossi commented on #528
The only reason containers exists in the first place is to add support for older formats. This way mixer could focus only in the current format and download older versions of itself to generate content for older format. This means that up until support for format 26 was added, in paper mixer was unable to process older formats. If it works, it is by pure chance.

[2019-01-04 20:36] jwakre commented on #528
In  that case, I see the format issue now.

[2019-01-04 20:38] rchiossi commented on #528
This feature was introduced to handle format bumps. When doing a bump, you need to generate two sets of metadata: One with the tooling for the old format and one with the tooling of the new format. As such, mixer would download two docker images, one with the latest mixer version for the old format and one with the latest mixer version for the new format. Then it would generate the update metadata

[2019-01-04 21:20] jwakre commented on #528
Based on our conversation, I can re-define this enhancement as follows:

* formats >= 25, build natively on host always
* formats < 25 build in container by default and natively when passed --native flag

[2019-01-08 01:50] jwakre commented on #527
I was thinking more about improving iterative manifest performance for minversions. I think a better solution would be to use the MoM flags to mark iterative manifest entries when their bundle was updated by a minversion and has no content changes. This would allow Swupd to uses MoM entries to skip over these bundles and Mixer would not need to generate them. Below is an outline of the changes req

[2019-01-09 19:00] cmarcelo commented on #515
@rchiossi I'm confused. Can't I have an extra format bump in my mix independently of what upstream is doing?

[2019-01-09 19:20] cmarcelo commented on #467
I support having either the latest_format or the latest_version available *somewhere* would be useful for a couple of cases for me:

- In `swupd-inspector`, we currently have to pass the version, but would be nice to inspect the latest version as convenience. For example, right now I have to say: `swupd-inspector cat clear/27120 Manifest.MoM` (note clear is a shortcut for the official Clear Linux

[2019-01-09 20:42] cmarcelo commented on #467
For the record, after suggestion from Otavio, I'd also be fine if both `update/latest_version` and `update/latest_format` (or similar) existed.

[2019-01-09 20:51] cmarcelo commented on #122
CC: @otaviobp

@phmccarty could you give us your take on this one. Seems to me that we are embedding two different meanings into the format. Restating the problem, the "format" is using for two things:

- (a) "Descriptor" of the meaning of the bytes in the manifest files. Or "the protocol". Relevant for swupd-client to know how to read the update files.
- (b) Continuous stream of OS content. Used

[2019-01-09 21:05] mbelluzzo commented on #467
That help a lot with tooling automation from devops side (either mainline or downstream).

[2019-01-09 22:17] rchiossi commented on #515
You can, but that is unrelated to his question. Format bumps are never tied to mixer versions. You would need a bump either if the upstream your mix is based of had a bump or if your mix is the upstream to someone else and you decide that your own mix needs a bump (e.g. if you deleted a bundle).

[2019-01-09 22:19] cmarcelo commented on #515
You are right. Got it! I was confused by something else.

[2019-01-09 22:21] rchiossi commented on #122
Are you a psychic or something? We were talking about this just a few hours ago! :)

[2019-01-10 00:43] phmccarty commented on #122
@cmarcelo I like the idea of separating (a) from (b). But keep in mind that the (a) format is meant to encapsulate the format of update content as a whole, not just manifests -- deltas, fullfiles, and packs also must be accounted for if need be.

[2019-01-10 00:46] cmarcelo commented on #122
Sure!

[2019-01-10 22:53] jwakre opened #531 "Build bundles command can fail to download packages"
When building bundles, sometimes Mixer fails to download a package and exits unsuccessfully. The error is easier to reproduce when building with a large set of bundles.

**Steps to reproduce:**

$ mixer init --all-upstream
$ sudo mixer bulid bundles --native

**Error snippets from output:**

[MIRROR] net-tools-man-1.60-21.x86_64.rpm: Curl error (56): Failure when receiving data from the peer for h

[2019-01-10 23:07] jwakre commented on #531
When building the full chroot, sometimes dnf install fails to download the desired rpm. Subsequent calls to install the package usually succeed, but since there is no retry code in place, any failure is fatal.

[2019-01-15 18:03] cmarcelo commented on #467
For Clear Linux (not mixes), the release team will probably want to have more control of those values, i.e. we produce newer versions but still want users staying with the old ones until the newer are consider good to go.

[2019-01-15 19:40] gtkramer opened #532 "Do not print format warning when using format parameter"
[code]
When passing the `--format 27` option at the command line, it does not appear to be honored and instead, mixer appears to use the system-installed format.  The intended behavior is that anything defined on the command line overrides anything in a config file or any fallback pattern.

[2019-01-15 20:03] rchiossi commented on #532
From what I can see in the code, mixer is using the value in `--format`, the problem is that the warning is misplaced. This warning is printed when mixer creates a new mixer.state file, but that happens before the format value is overwritten by the command line parameter. Behavior is good, we need to fix the error message.